<template>

    <model-edit-page
            :backLink="backLink"
            :model="court"
            :service="service"
            :customTabs="tabs"
    >
        <template #edit-body="{ vm , editable}">

            <v-tabs-items v-model="vm.tab">
                <v-tab-item :key="vm.tabs[0]">
                    <data-tab :court="editable"></data-tab>
                </v-tab-item>
                <v-tab-item :key="vm.tabs[1]">
                    <requisites-tab :requisite="editable.requisite"></requisites-tab>
                </v-tab-item>
                <v-tab-item :key="vm.tabs[2]">
                    <structure-tab :structure="editable.structure"></structure-tab>
                </v-tab-item>
                <v-tab-item :key="vm.tabs[3]">
                    <area-tab :areaUrl="`/court/${court.id}/area`"></area-tab>
                </v-tab-item>
            </v-tabs-items>
        </template>
    </model-edit-page>
</template>

<script>
    import modelEditPage from '../model-edit';
    import regionService from '@/services/regions';

    export default {
        name: "court",
        components: {
            'model-edit-page' : modelEditPage,
            dataTab: () => import('./tabs/data-tab'),
            requisitesTab: () => import('./tabs/requisites-tab'),
            structureTab: () => import('./tabs/structure-tab'),
            areaTab: () => import('./tabs/area-tab'),
        },
        data: (vm) => {
            return {
                service: regionService,
                tabs: vm.$route.params.type +'' !== '0' ? ['Данные','Реквизиты','Структура суда']
                    : ['Данные','Реквизиты','Структура суда', 'Территориальная подсудность'],
                backLink: `/region/${vm.$route.params.code}/court/${vm.$route.params.type}`,
                court: {
                    id: null,
                    name: 'Суд',
                    address: '',
                    email: '',
                    phone: '',
                    url: '',
                    requisite: {},
                    structure: [],
                    area: [],
                },
                render: true,
                tab:null,
                vm
            }
        },
        methods: {

        },
    }
</script>

<style scoped>
</style>