<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>{{title}}</v-toolbar-title>
            </v-card>
            <v-card
                    class="pa-2 no-shadow"
                    tile>

                <router-link :to="backLink" >Вернуться к списку</router-link>
            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="filter"
                            :editItem="showItem"
                            :emptyItemText="'-'"
                            :service="service">
            </app-data-table>
        </v-card>
    </v-container>
</template>

<script>
    import regionService from '@/services/regions'
    export default {
        name: "courts",
        data: (vm) => {
            return {
                backLink: '/region/' + vm.$route.params.code,
                title: 'Список судов',
                headers: [
                    {value: 'name', text: 'Суд', link: true},
                    {value: 'address', text: 'Адрес'},
                    {value: 'phone', text: 'Телефон'},
                    {value: 'email', text: 'Электронная почта', link: true},
                    {value: 'url', text: 'Сайт', link: true},
                ],
                service: regionService,
                courts: [],
                filter: {
                    court_type: vm.$route.params.type,
                    region_code: vm.$route.params.code,
                }
            }
        },
        methods: {
            showItem(id) {
                this.$router.push({name: "court", params: {
                    code: this.$route.params.code,
                    type: this.$route.params.type,
                    id
                }});
            }
        }
    }
</script>

<style scoped>

</style>