<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>Регионы</v-toolbar-title>
            </v-card>

            <v-card  class="pa-2 no-shadow"
                     tile
            >
                <v-card-text>Дата обновления: {{service.getLastUpdate()}}</v-card-text>
            </v-card>
        </v-card>
        <v-card class="filter">
            <slot name="filter" v-bind:vm="vm">
                <v-card
                        class="d-flex justify-space-between mb-6 no-shadow" style="margin-bottom: 0 !important;"
                        flat
                        tile
                >
                    <v-card
                            tile
                            class="pa-2 flex-grow-1 flex-shrink-0 no-shadow"
                            style="max-width: 200px;"
                    >
                        <v-combobox
                                clearable
                                hide-selected
                                outlined
                                label="Регион"
                                :items="regions"
                                v-model="filter.region"
                                hide-details
                                dense
                        >
                        </v-combobox>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-1 flex-shrink-0 no-shadow"
                            style="max-width: 200px;"
                    >
                        <v-combobox
                                clearable
                                hide-selected
                                outlined
                                label="Тип судов"
                                :items="court_types"
                                v-model="filter.court_type"
                                hide-details
                                dense
                        >
                        </v-combobox>
                    </v-card>
                    <v-card
                            class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                            tile>

                        <v-btn
                                class="mr-4"
                                @click="clearFilter"
                                :disabled="!canClearFilter()"
                        >Сбросить
                        </v-btn>
                        <v-btn class="mr-4 dark-btn"
                               prepend-icon="mdi-download-outline"
                               @click="download"
                        >Скачать данные
                        </v-btn>
                    </v-card>
                    <v-spacer/>
                </v-card>
            </slot>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="{}"
                            :editItem="showItem"
                            :emptyItemText="'-'"
                            :items="regions">
            </app-data-table>
        </v-card>
    </v-container>
</template>

<script>
    import RegionService from '@/services/regions'
    import FileLoader from '@/services/file_loader'

    export default {
        name: "regions",
        data: (vm) => {
            return {
                filter: {
                    region: null,
                    court_type: null,
                },
                regions: [],
                court_types: [],
                service: RegionService,
                loading: true,
                headers: [
                    {value: 'value', text: 'Код региона' },
                    {value: 'text', text: 'Регион' , link: true, id: 'value'},
                    {value: 'created_at', text: 'Дата создания' },
                ],
                item_route_name: 'region-courts',
                vm,
            };

        },
        mounted() {
            this.getMeta();
        },
        methods: {
            canClearFilter() {
                return this.filter.region || this.filter.court_type;
            },
            clearFilter() {
                this.filter.region = null;
                this.filter.court_type = null;
            },
            showItem(id) {
                this.$router.push({name: this.item_route_name, params: {code: id}});
            },
            getMeta() {
                let vm = this;
                if (!this.service.getRegions()) this.service.loadMeta().then((response) => {
                    vm.regions = vm.service.getRegions();
                    vm.court_types = vm.service.getCourtTypes();
                });
                else {
                    vm.regions = vm.service.getRegions();
                    vm.court_types = vm.service.getCourtTypes();
                }

            },
            download() {
                let filter = {
                    region_code: this.filter.region?.value || null,
                    court_type: this.filter.court_type?.value || null,
                    export: true
                };
                FileLoader.download(this.service.getPath(), filter);
            },
        }
    }
</script>

<style scoped>

</style>