<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>{{title}}</v-toolbar-title>
            </v-card>
            <v-card
                class="pa-2 no-shadow"
                tile>

                <router-link :to="backLink" >Вернуться к списку</router-link>
            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="{}"
                            :editItem="showItem"
                            :emptyItemText="'-'"
                            :items="courts">
                <template v-slot:body.pagination><div class="hidden"></div></template>
            </app-data-table>
        </v-card>
        <v-col sm="4">
            <file-upload-button
                title="Загрузка списка судов"
                :loader="(data) => service.import($route.params.code, data)"
                v-if="$store.state.auth.user.user_type === 'admin'"
            />
        </v-col>
    </v-container>
</template>

<script>
    import regionService from '@/services/regions'
    import FileUploadButton from "../../components/FileUploadButton";

    export default {
        name: "region_courts",
        components: {FileUploadButton},
        data: (vm) => {
            return {
                backLink: '/region',
                title: 'Суды',
                headers: [
                    {value: 'name', text: 'Суд', link: true, id: 'court_type'},
                    {value: 'count', text: 'Количество судов'},
                ],
                service: regionService,
                courts: [],
                canLoad: true,
                message: '',
            }
        },
        created(){
            this.service.getCourtsByTypeCounts(this.$route.params.code).then((response) => {
                this.courts = response.data?.data?.courts || [];
                this.title = response.data?.data?.region?.name || this.title;
            })
        },
        methods: {
            showItem(type) {
                if (type !== undefined) {
                    let SUPREME_TYPE = 2;
                    let supreme = this.courts.find((v) => {
                        return v.court_type == SUPREME_TYPE
                    });
                    if (type == SUPREME_TYPE && supreme && supreme.count === 1) {
                        this.$router.push({name: "court", params: {code: this.$route.params.code, type, id: supreme.id}});
                        return
                    }
                    this.$router.push({name: "region-courts-by-type", params: {code: this.$route.params.code, type}});
                }
            }
        }
    }
</script>

<style scoped>

</style>