<template>
        <v-dialog
                v-model="options.openned"
                transition="dialog-top-transition"
                max-width="600"
                justify="center"
        >
            <v-card>
                <v-card-title class="headline">
                    {{title}}
                </v-card-title>

                <v-card-text class="d-flex justify-center">
                    <v-form
                            class="block-form"
                            ref="blockForm"
                            v-model="valid"
                            lazy-validation

                    >
                        <v-card-text>
                            Укажите причину {{actionText}} {{user.name}}:
                        </v-card-text>
                        <v-text-field
                                v-model="reason"
                                :rules="$store.state.rules.blockReason"
                                :label="labelText"
                                required
                        ></v-text-field>

                        <v-container class="d-flex justify-center">
                            <v-btn @click="options.openned = false">
                                Отмена
                            </v-btn>
                            <v-btn
                                    @click="$emit('user-update', reason);"
                                    :disabled="!valid || !reason"
                                    class="mr-4 dark-btn">
                                {{buttonText}}
                            </v-btn>
                        </v-container>
                    </v-form>

                </v-card-text>
            </v-card>
        </v-dialog>

</template>

<script>
    export default {
        props: {
            options: Object,
            user: Object,
        },
        name: "block-modal.vue",
        data: (vm) => {
            return {
                valid: false,
                reason: '',
                formUser: vm.user,
                title: '',
                actionText: '',
                labelText: '',
                buttonText: '',
            }
        },
        methods: {
            block() {

            },
        },
        watch: {
            user : {
                handler() {
                    this.reason= '';
                    this.formUser = this.user;
                    this.title= this.user.is_blocked ? 'Разблокировка сотрудника' : 'Блокировка сотрудника';
                    this.actionText= this.user.is_blocked ? 'разблокировки' : 'блокировки';
                    this.labelText= this.user.is_blocked ? 'Причина разблокировки' : 'Причина блокировки';
                    this.buttonText= this.user.is_blocked ? 'Разблокировать' : 'Заблокировать';
                    if (this.$refs.blockForm) this.$refs.blockForm.resetValidation();
                },
                deep: true
            }
        }

    }
</script>

<style scoped>
    .block-form {
        width: 100%;
    }
</style>