<template>
    <v-dialog
            v-model="options.openned"
            transition="dialog-top-transition"
            max-width="600"
            justify="center"
    >
        <v-card>
            <v-card-title class="headline">{{title}}</v-card-title>

            <v-card-text class="d-flex justify-center">
                <v-form
                        class="block-form"
                        ref="resetForm"
                        v-model="valid"
                        lazy-validation

                >
                    <v-card-text v-if="result === null">
                        На Email {{options.email}} будет
                        отправлена ссылка для восстановления
                        пароля.
                    </v-card-text>
                    <v-card-text v-if="result === null">
                        Сбросить текущий пароль?
                    </v-card-text>
                    <v-card-text v-if="result === true">
                        На Email {{options.email}}
                        отправлена ссылка для восстановления
                        пароля.
                    </v-card-text>
                    <v-card-text v-if="result === false">
                        Произошла ошибка
                    </v-card-text>

                    <v-container class="d-flex justify-center" v-if="result === null">
                        <v-btn @click="options.openned = false">
                            Отмена
                        </v-btn>

                        <v-btn
                                @click="reset()"
                                class="mr-4 dark-btn">
                            Сбросить

                        </v-btn>
                    </v-container>

                </v-form>

            </v-card-text>
        </v-card>
    </v-dialog>

</template>

<script>
    import Axios from '@/utils/axios'
    export default {
        props: {
            options: Object,
        },
        name: "password-reset",
        data: (vm) => {
            return {
                valid: true,
                title: 'Сброс пароля',
                result: null,
            }
        },
        methods: {
            async reset() {
                this.$store.dispatch('auth/reset', this.options).then((response)=> {
                    this.result = true;
                    this.title = 'Ссылка отправлена';
                    this.close()
                }).catch((e) => {
                    this.result = false;
                    this.title = 'Ошибка';
                    this.close()
                });
            },
            close() {
                let vm = this;
                setTimeout(function() { vm.options.openned=false;vm.result =null;}, 2000)
            }
        }

    }
</script>

<style scoped>
    .block-form {
        width: 100%;
    }
</style>