<template>
    <v-row justify="center">
        <v-dialog
                v-model="user.created || user.updated"
                max-width="600"
        >
            <v-card>
                <v-card-title class="headline" >{{title}}</v-card-title>
                <v-card-text >{{text}}</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            class="dark-btn"
                            text
                            :to="backLink"
                    >
                        К списку
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>

</template>

<script>
    export default {
        props: {
            user: Object,
            backLink: String,
        },
        name: "block-modal.vue",
        data: (vm) => {
            return {
                title:'',
                text: '',
            }
        },
        watch: {
            user : {
                handler(newUser, oldUser) {
                    if (newUser.is_blocked !== oldUser.is_blocked && oldUser.is_blocked !== undefined) {
                        this.title = newUser.name + (newUser.is_blocked ? ' заблокирован' : ' разблокирован');
                        this.text = newUser.is_blocked
                            ? 'Чтобы разблокировать пользователя нажмите на кнопку "Разблокировать"'
                            : 'Чтобы заблокировать пользователя нажмите на кнопку "Заблокировать"';
                        return;
                    }
                    this.title = this.user.created ? 'Пользователь создан!' : 'Данные обновлены!';
                    this.text = this.user.created
                        ? 'Пользователь был успешно создан в системе. Для получения доступа ему необходимо самостоятельно восстановить пароль.'
                        : 'Информация о пользователе была успешно обновлена в системе.';
                },
                deep: true,
            }
        }

    }
</script>

<style scoped>
    .block-form {
        width: 100%;
    }
</style>