<template>
    <v-container>
        <v-card>
            <v-toolbar
                    flat
                    class="edit-tabs"
            >
                <v-toolbar-title v-if="user.id > 0">{{user.name}}</v-toolbar-title>
                <v-toolbar-title  v-else>{{title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <router-link :to="backLink" >Вернуться к списку</router-link>
                <template v-slot:extension>
                    <v-tabs
                            v-model="tab"
                            align-with-title
                    >
                        <v-tabs-slider color="white"></v-tabs-slider>

                        <v-tab
                                v-for="item in tabs"
                                :key="item"
                                color="black"
                        >
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>

            <v-tabs-items v-model="tab">
                <v-tab-item :key="tabs[0]">
                    <v-container class="d-flex">
                    <v-card flat>
                        <v-form class="data-form"
                                ref="form"
                                v-model="valid"
                                lazy-validation
                        >

                            <v-checkbox
                                    v-model="user.is_blocked"
                                    :false-value="blocked"
                                    :true-value="active"
                                    label="Активность"
                            ></v-checkbox>
                            <v-divider></v-divider>
                            <v-spacer></v-spacer>
                            <v-card-title>Основная информация</v-card-title>
                            <v-text-field
                                    v-model="user.email"
                                    :error-messages="errors.email || []"
                                    label="E-mail (логин)*"
                                    required
                                    :disabled="$route.query.mode == 'by_email'"
                                    type="email"
                            ></v-text-field>
                            <v-select
                                    v-model="user.user_group"
                                    :disabled="$route.query.mode == 'by_email'"
                                    :items="groups"
                                    :error-messages="errors.user_group||[]"
                                    label="Группа*"
                                    required
                            ></v-select>
                            <v-combobox v-if="showCompany"
                                    :disabled="$route.query.mode == 'by_email' && user.companies.length===1"
                                    v-model="user.companies"
                                    :items="companies"
                                    multiple
                                    :error-messages="errors.companies"
                                    chips
                                    label="Компания*"
                                    required
                            ></v-combobox>
                            <v-spacer></v-spacer>
                            <v-card-title>Информация о сотруднике</v-card-title>
                            <v-text-field
                                    v-model="user.phone"
                                    :value="+7"
                                    :placeholder="'+79991112233'"
                                    v-mask="'\+7##########'"
                                    :error-messages="errors.phone"
                                    label="Телефон*"
                                    required
                            ></v-text-field>

                            <v-text-field
                                    v-model="user.name"
                                    :error-messages="errors.name"
                                    label="ФИО*"
                                    required
                            ></v-text-field>
                            <v-text-field v-if="showPassword"
                                    v-model="user.password"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                    :error-messages="errors.password"
                                    :type="show ? 'text' : 'password'"
                                    name="password"
                                    label="Пароль"
                                    @click:append="show = !show"
                            ></v-text-field>
                            <v-text-field v-if="showPassword"
                                    v-model="user.password_confirmation"
                                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                                    :error-messages="errors.password_confirmation"
                                    :type="show2 ? 'text' : 'password'"
                                    name="password_confirmation"
                                    label="Пароль повторно"
                                    @click:append="show2 = !show2"
                            ></v-text-field>
                            <v-textarea
                                    v-model="user.info"
                                    :error-messages="errors.info"
                                    label="Информация"
                            ></v-textarea>

                            <v-btn :to="backLink">
                                Отмена
                            </v-btn>

                            <v-btn
                                    @click="
                                    user.form_confirmed = true
                                    redirect = true
                                    "
                                    :disabled="!valid||hasError"
                                    color="success"
                                    class="dark-btn">
                                Сохранить
                            </v-btn>
                            <v-btn
                                    @click="
                                    user.form_confirmed = true
                                    redirect = false
                                    "
                                    :disabled="!valid||hasError"
                                    class="mr-4 dark-btn">
                                Применить
                            </v-btn>
                        </v-form>
                    </v-card>
                    <v-spacer/>
                    <v-card flat v-if="$route.params.id > 0" class="data-action d-flex flex-column justify-center">
                        <v-card
                                outlined
                        >
                            <p class="font-weight-regular text-no-wrap">Регистрация: {{user.created_at ? user.created_at : '-'}}<br>Последний сеанс: {{user.updated_at ? user.updated_at  : '-'}}</p>
                        </v-card>
                        <v-card outlined >
                            <v-list>
                                <v-list-item>
                                    <v-icon large>mdi-clock-outline</v-icon>
                                    <v-list-item-content class="d-flex">
                                        <v-btn text max-width="max-content">История сеансов</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                        <v-card outlined>
                            <v-list>
                                <v-list-item>
                                    <v-icon large>mdi-key-variant</v-icon>
                                    <v-list-item-content class="d-flex">
                                        <v-btn @click="resetModalOptions.openned = true" text max-width="max-content">Сбросить пароль</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                        <v-card outlined>
                            <v-list>
                                <v-list-item>
                                    <v-icon large>mdi-trash-can-outline</v-icon>
                                    <v-list-item-content class="d-flex">
                                        <v-btn @click="blockModalOptions.openned = true" text max-width="max-content">
                                            {{user.is_blocked ? 'Разблокировать' : 'Заблокировать'}}</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-card>

                    </v-container>
                </v-tab-item>
                <v-tab-item :key="tabs[1]" v-if="user.id > 0">
                    <app-data-table :headers="historyHeaders" :showSelect="false" :fixedCol="true"
                                    :toItem="toItem" :emptyItemText="'-'"
                                    :itemsUrl="userHistoryLink+ '/' + this.user.id">
                    </app-data-table>
                </v-tab-item>
            </v-tabs-items>


        </v-card>
        <user-result-dialog :user="user" :backLink="backLink"/>
        <user-block-dialog v-on:user-update="update" :user="user" :options="blockModalOptions"/>
        <reset-dialog :options="resetModalOptions"/>
    </v-container>
</template>
<script>
    import _ from 'lodash';
    import userBlockModal from './blockModal';
    import userResultDialog from './profileFormResultDialog';
    import resetDialog from './passwordReset';
    export default {
        props: {
            backLink: String,
            userHistoryLink:String,
            service: Object,
            historyHeaders:Array,
            title: String,
            showPassword: {
                type: Boolean,
                default: false
            },
            showCompany: {
                type: Boolean,
                default: false
            }
        },
        components: {
            'user-block-dialog':userBlockModal,
            'user-result-dialog':userResultDialog,
            'reset-dialog':resetDialog,
        },
        data: (vm) => {
            return {
                blocked: true,
                active: false,
                show:false,
                show2:false,
                blockModalOptions: {
                    openned: false,
                },
                resetModalOptions: {
                    openned: false,
                    email: '',
                },
                valid: false,
                hasError: true,
                errors: {},
                tab:null,
                tabs: vm.$route.params.id > 0 ? ['Данные', 'История изменений'] : ['Данные'],
                user:{
                    created: false,
                    updated: false,
                    form_confirmed:false,
                    name: '',
                    phone: '',
                    email: vm.$route.query.email ? vm.$route.query.email : '',
                    info: '',
                    user_group: null,
                    companies: [],
                    is_blocked: false,
                    password: '',
                    password_confirmation: '',
                },
                toValidate: null,
                groups: [],
                companies: [],
                redirect: true,
            };
        },
        created() {
            this.debouncedCreate = _.debounce(this.create, 500);
            this.debouncedUpdate = _.debounce(this.update, 500);
        },
        mounted() {
            let userId = this.$route.params.id;
            if (userId != 0) {
                this.service.get(userId).then(this.processUserResponse).catch((e) => {
                    this.$router.push(this.backLink)
                });
            }
            this.getMeta();
        },
        methods: {
            processUserResponse(response) {
                this.user = {...this.user, ...response.data.data};
                this.user.companies.forEach((v, k)=> {
                    let company = this.service.getCompanies().find(
                        (v2) => v2.value === this.user.companies[k].id
                    );
                    if (company) this.user.companies[k] = company;
                });
            },
            toItem(item) {
                let group = this.service.getGroups().find(function(v) {return v.value == item.user_group;});
                if (group) item.user_group = group.text;
                if(item.is_blocked !== undefined) {
                    item.reason = (item.is_blocked ? 'Да' : 'Нет')
                        + (item.reason ? ': '+ item.reason : '');
                    item.is_blocked = item.is_blocked ? 'Заблокированный' : 'Активный';
                }
                item.hidden = true;
                if (this.showCompany && item.companies) {
                    let companies = '';
                    item.companies.forEach((v, k) => {
                        let c = this.service.getCompanies().find(
                            v2 => v2.value === v
                        );
                        if (c) companies += (k > 0 ? ', ': '') + c.text;
                    });
                    item.companies = companies;
                }
                item.reset = item.resetPassword ? 'Да' : null;
                return item;
            },
            back() {
                if (!this.redirect) return;
                let vm = this;
                setTimeout(function() {vm.$router.push(vm.backLink);}, 2000);
                //check need close window
                if (this.$route.query.mode !== undefined && this.$route.query.mode === 'by_email') {
                    window.opener.postMessage(this.user.email, '*');
                }
            },
            create() {
                if (this.user.id) return;
                let vm = this;
                this.service.create(this.user).then((response) => {
                    vm.toValidate = null;
                    vm.user.created = true;
                    this.back();
                    vm.user.id = response.data.data.id;
                }).catch(this.processResponseError);
                this.user.form_confirmed = false;
            },
            processResponseError(e) {
                this.toValidate = e.response;
                this.errors = e.response.data.errors;
                this.validate();
                this.hasError = Object.keys(e.response.data.errors).length !== 1 && e.response.data.errors['form_confirmed'] !== undefined;
            },
            update(reason) {
                if (this.user.id != 0) {
                    let data = {...this.user};
                    if (reason) {
                        data = {
                            reason,
                            is_blocked: !this.user.is_blocked,
                        };
                    }
                    let vm = this;
                    this.service.update(this.user.id, data).then((response) => {
                        vm.blockModalOptions.openned = false;
                        vm.toValidate = null;
                        vm.user.updated = true;
                        vm.processUserResponse(response)
                        if (data.reason) setTimeout(function() {vm.user.updated = false;}, 5000)
                        else this.back();
                    }).catch(this.processResponseError);
                }
                this.user.form_confirmed = false;
            },
            getMeta() {
                if (this.groups.length) return this.groups;
                let vm = this;
                this.service.loadMeta().then((response) => {
                    vm.groups = vm.service.getGroups();
                    vm.companies = vm.service.getCompanies();
                }).catch((e) => {
                    console.log(e);
                });
            },
            validate() {
                if (this.$refs.form) this.$refs.form.validate()
            },
        },
        watch: {
            user: {
                handler () {
                    if (this.user.id > 0) this.debouncedUpdate();
                    else this.debouncedCreate();
                    let BOSS_GROUP = 256;
                    if (this.service.getGroups()) {
                        let group = this.service.getGroups().find(
                            (item) => item.value == (this.$route.query.company_id ? BOSS_GROUP : this.user.user_group),
                        );
                        if (group instanceof Object) {
                            this.user.user_group = group;
                        }
                    }
                    this.resetModalOptions.email = this.user.email;
                },
                deep: true
            },
            companies: {
                handler() {
                    let company = this.companies.find(
                        c => c.value.toString() === (this.$route.query.company_id ? this.$route.query.company_id : this.user.companies)
                    );
                    if (company) this.user.companies = [company];
                },
                deep: true,
            }
        }
    }
</script>
<style>
    .data-form .v-toolbar__content{
        display: none;
    }
    .data-form header.v-toolbar{
        max-height: 50px;
    }
    .data-form {
        width: 500px;
        margin-bottom: 30px;
    }
    .data-action {
        width: 300px;
    }
    .data-action .v-card {
        padding: 10px;
        margin-bottom: 4px;
    }
    .v-toolbar__title {
        color: #1976d2 !important;
    }

</style>