<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 user-list"
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>Пользователи компании</v-toolbar-title>
            </v-card>

            <v-card
                    class="pa-2 no-shadow"
                    tile
            >
                <v-btn @click="editUser(0)" class="dark-btn">Добавить пользователя</v-btn>
            </v-card>
        </v-card>
        <v-card class="filter">
            <v-card
                    class="d-flex justify-space-between mb-6 no-shadow" style="margin-bottom: 0 !important;"
                    flat
                    tile
            >
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Все статусы"
                            :items="getMeta() || statuses"
                            v-model="filter.status"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Все группы пользователей"
                            :items="groups"
                            v-model="filter.user_group"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Все компании"
                            :items="companies"
                            v-model="filter.company"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                        tile
                >
                    <v-text-field
                            name="input-10-2"
                            placeholder="Введите email"
                            outlined
                            type="email"
                            v-model="filter.email"
                            hide-details
                            dense
                    ></v-text-field>

                </v-card>

            </v-card>
            <v-card
                    class="d-flex justify-space-between mb-6 flex-row-reverse"
                    flat
                    tile
            >
                <v-card
                        class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                        tile
                >

                    <v-btn
                            class="mr-4"
                            @click="clearFilter"
                            :disabled="!canClearFilter()"
                    >Сбросить
                    </v-btn>
                    <v-btn
                            class="mr-4"
                            @click="filter.updates++"
                    >Поиск
                    </v-btn>
                    <v-btn text @click="download">
                        <v-icon x-large style="color: lightskyblue;">mdi-microsoft-excel</v-icon>
                    </v-btn>
                </v-card>
            </v-card>
        </v-card>

        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="filter"
                            :toItem="toItem"
                            :editItem="editUser"
                            :service="crudService">
            </app-data-table>
        </v-card>
    </v-container>
</template>
<script>
    import CompanyUserService from '@/services/company_user';

    export default {
        data: function () {
            return {
                selected: [],
                headers: [
                    {text: '', value: "space", fixed: true, width: '50px', sortable:false},
                    {text: "ID", value: "id", width: "100px", fixed: true},
                    {text: "Email(логин)", value: "email", width: "150px", fixed: false, link: true},
                    {text: "Фио", value: "name", width: "300px"},
                    {text: "Телефон", value: "phone", width: "300px"},
                    {text: "Статус", value: "is_blocked", width: "150"},
                    {text: "Группа", value: "user_group", width: "300px"},
                    {text: "Компания", value: "company", width: "300px", sortable: false},
                ],
                filter: {
                    status: null,
                    user_group: null,
                    company: null,
                    email: '',
                    updates: 0,
                },
                crudService: CompanyUserService,
                statuses: [],
                groups: [],
                companies: [],

            }
        },
        methods: {
            download() {
                this.crudService.download(this.filter);
            },
            editUser(id) {
                this.$router.push({name: "company-users-profile", params: {id: id}});
            },
            canClearFilter() {
                return this.filter.status || this.filter.user_group || this.filter.email || this.filter.company;
            },
            clearFilter() {
                this.filter.user_group = null;
                this.filter.status = null;
                this.filter.company = null;
                this.filter.email = '';
                this.filter.updates++
            },
            getMeta() {
                if (this.statuses.length) return this.statuses;
                let vm = this;
                this.crudService.loadMeta().then((response) => {
                    vm.statuses = vm.crudService.getStatuses();
                    vm.groups = vm.crudService.getGroups();
                    vm.companies = vm.crudService.getCompanies();
                });
            },
            toItem(item) {
                let group = this.crudService.getGroups().find(function (v) {
                    return v.value == item.user_group;
                });
                if (group) item.user_group = group.text;
                item.is_blocked = item.is_blocked ? 'Заблокированный' : 'Активный';
                if (item.companies)
                    item.companies.map(function(v,k) {
                        item.company = (item.company ? item.company + ', ' : '') + v.name;
                    });
                return item;
            },
        }
    }
</script>