<template>
    <user-profile :historyHeaders="historyHeaders"
                  :backLink="backLink"
                  :service="service"
                  :userHistoryLink="userHistoryLink"
                  :title="'Новый пользователь'"
                  :showCompany="true"
    >

    </user-profile>
</template>
<script>
    import CompanyUserService from '@/services/company_user';
    import userProfile from '../profile';
    export default {
        components: {
            'user-profile':userProfile,
        },
        data: (vm) => {
            return {
                backLink: '/user/company',
                userHistoryLink : '/histories/user',
                service: CompanyUserService,
                historyHeaders : [
                    {text: '', value: "space", fixed: true, width: '0px'},
                    {text: "Дата", value: "created_at", width: "150px", fixed: true},
                    {text: "Кто изменил", value: "author", width: "100px", fixed: true},
                    {text: "Статус", value: "is_blocked", width: "150"},
                    {text: "Email(логин)", value: "email", width: "150px",},
                    {text: "Группа", value: "user_group", width: "150px"},
                    {text: "Компании", value: "companies", width: "150px"},
                    {text: "Сброс пароля", value: "reset", width: "150px"},
                    {text: "Блокировка", value: "reason", width: "150px"},
                    {text: "Телефон", value: "phone", width: "150px"},
                    {text: "Фио", value: "name", width: "200px"},
                    {text: "Информация", value: "info", width: "150px", hidden: true},
                ],
            };
        },
    }
</script>