<template>
  <v-app>
    <template v-if="$store.state.auth.token">
      <navigation :initDrawers="drawers" />
      <layout-header :initDrawers="drawers"
                     @toggleDrawer="drawers.navigate = !drawers.navigate" />
      <v-main v-if="!$store.state.auth.loggingOut">
        <router-view :key="$route.fullPath"/>
      </v-main>
      <!--<layout-footer />-->
    </template>
    <template v-else>
      <v-main v-if="!$store.state.auth.loggingOut">
        <router-view />
      </v-main>
    </template>
    <v-snackbar
            v-model="snackbar"
            :timeout="timeout"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
                color="blue"
                text
                v-bind="attrs"
                @click="snackbar = false"
        >
          Закрыть
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import Navigation from '@/components/layout/navigation';
import LayoutHeader from '@/components/layout/layout-header';
import LayoutFooter from '@/components/layout/layout-footer';

export default {
  name: 'App',

  components: {
    'navigation' : Navigation,
    'layout-header': LayoutHeader,
    'layout-footer': LayoutFooter,
  },

  data: function() {
      return {
          snackbar: false,
          snackbarText: '',
          timeout: 3000,
          drawers:{
              navigate:true
          }
      }
  }

};
</script>
