<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            403 Нет доступа.
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "no-permission"
    }
</script>

<style scoped>

</style>