<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            404 Страница не найдена.
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "not-found"
    }
</script>

<style scoped>

</style>