<template>
    <v-container  fluid>
        <v-col sm="4">
            <file-upload-button
                    title="Oбновление кодов ИФНС для судов"
                    :loader="service.ifnsImport"
            />
        </v-col/>
    </v-container>
</template>

<script>
    import FileUploadButton from "../components/FileUploadButton";
    import RegionService from '@/services/regions'

    export default {
        name: 'Dashboard',
        components: {
            FileUploadButton
        },
        data: () => ({
            service: RegionService,
        }),
        computed: {},
        watch: {},
        created() {
        },
        methods: {},
    };
</script>

<style scoped>

</style>
