
<template>
    <v-container>
        <v-card>
            <slot name="toolbar">
            <v-toolbar
                    flat
                    class="edit-tabs"
            >
                <v-toolbar-title v-if="$route.params.id > 0">{{editable.name}}</v-toolbar-title>
                <v-toolbar-title  v-else>{{title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <router-link :to="backLink" >Вернуться к списку</router-link>
                <template v-slot:extension>
                    <v-tabs
                            v-model="tab"
                            align-with-title
                    >
                        <v-tabs-slider color="white"></v-tabs-slider>

                        <v-tab
                                v-for="item in tabs"
                                :key="item"
                                color="black"
                        >
                            {{ item }}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>
            </slot>
            <slot name="edit-body" v-bind:vm="this" v-bind:editable="editable">
            <v-tabs-items v-model="tab">
                <v-tab-item :key="tabs[0]">
                    <v-container class="d-flex">
                        <v-card flat>
                            <v-form class="data-form "
                                    ref="form"
                                    v-model="valid"
                                    lazy-validation
                            >
                                <slot name="edit-form" v-bind:vm="this" v-bind:editable="editable"/>
                                <v-btn :to="backLink">
                                    Отмена
                                </v-btn>

                                <v-btn
                                        @click="
                                        editable.form_confirmed = true
                                        redirect = true
                                        "
                                        :disabled="!valid||hasError"
                                        class="dark-btn">
                                    Сохранить
                                </v-btn>

                                <v-btn
                                        @click="
                                        editable.form_confirmed = true
                                        redirect = false
                                        "
                                        :disabled="!valid||hasError"
                                        class="mr-4 dark-btn">
                                    Применить
                                </v-btn>
                            </v-form>
                        </v-card>
                        <v-spacer/>
                        <v-card flat class="data-action d-flex flex-column justify-center">
                            <slot name="right-side"/>
                        </v-card>

                    </v-container>
                </v-tab-item>
                <v-tab-item v-if="tabs[1] && $route.params.id > 0" :key="tabs[1]">
                    <app-data-table :headers="historyHeaders" :showSelect="false" :fixedCol="true"
                                    :toItem="hisToItem" :emptyItemText="'-'"
                                    :itemsUrl="historyApiLink+ '/' + this.editable.id">
                    </app-data-table>
                </v-tab-item>
            </v-tabs-items>
            </slot>
        </v-card>
        <model-result-dialog :model="editable" :backLink="backLink"/>
    </v-container>
</template>
<script>
    import _ from 'lodash';
    import modelEditResult from './model-edit-result';
    export default {
        props: {
            backLink: String,
            historyApiLink:String,
            service: Object,
            historyHeaders:{
                type: Array,
                default: function() {
                    return [];
                }
            },
            title: String,
            model: {
                type: Object,
                default: function () {
                    return {
                        id: 0,
                        created: false,
                        updated: false,
                    }
                }
            },
            customTabs: {
                type: Array,
                default: function() {
                    return this.$route.params.id > 0 ? ['Данные', 'История изменений'] : ['Данные'];
                }
            },
            hisToItem: {
                type: Function,
                default: function () {
                    return (v) => v;
                }
            },
            modelHandler:  {
                type: Function,
                default: function () {
                    return (v) => v;
                }
            },
        },
        components: {
            'model-result-dialog':modelEditResult,
        },
        data: (vm) => {
            return {
                valid: false,
                hasError: true,
                errors: {},
                tab:null,
                tabs: vm.customTabs,
                toValidate: null,
                groups: [],
                editable: vm.model,
                runWatch: false,
                redirect: true,
            };
        },
        created() {
            this.debouncedCreate = _.debounce(this.create, 500);
            this.debouncedUpdate = _.debounce(this.update, 500);
        },
        mounted() {
            let modelId = this.$route.params.id;
            if (modelId > 0) {
                this.service.get(modelId).then((response) => {
                    this.processSuccessResponse(response);
                    this.validate();
                }).catch((e) => {
                    this.$router.push(this.backLink)
                });
            }
            let vm = this;
            setTimeout(function() {vm.runWatch = true;}, 1000)
        },
        methods: {
            back() {
                if (!this.redirect) return;
                let vm = this;
                setTimeout(function() {
                    if (vm.backLink !== vm.$route.path) vm.$router.push(vm.backLink);
                    else {
                        vm.editable.created = vm.editable.updated = false;
                        vm.$emit('back');
                    }
                }, 2000)
            },
            create() {
                if (this.editable.id) return;
                let vm = this;
                this.service.create(this.editable).then((response) => {
                    vm.toValidate = null;
                    vm.editable.created = true;
                    this.back();
                    vm.editable.id = response.data.data.id;
                }).catch(this.processResponseError);
                this.editable.form_confirmed = false;
            },
            processResponseError(e) {
                if (e.response && e.response.status === 422) {
                    this.toValidate = e.response;
                    this.errors = e.response.data.errors || {};
                    this.validate()
                    this.hasError = Object.keys(e.response.data.errors).length !== 1 && e.response.data.errors['form_confirmed'] !== undefined;
                }
            },
            processSuccessResponse(response) {
                Object.keys(response.data.data).forEach((v) =>  {
                    for (let attr in response.data.data) {
                        if (response.data.data.hasOwnProperty(attr)) this.editable[attr] = response.data.data[attr];
                    }
                });
                this.modelHandler(this.editable);
            },
            update(block) {
                if (this.editable.id > 0) {
                    let data = {...this.editable};
                    if (block) {
                        data = {
                            block,
                            is_blocked: !this.editable.is_blocked,
                        };
                    }
                    let vm = this;
                    this.service.update(this.editable.id, data).then((response) => {
                        vm.toValidate = null;
                        vm.editable.updated = true;
                        vm.processSuccessResponse(response);
                        if (data.block) setTimeout(function() {vm.editable.updated = false;}, 5000)
                        else this.back();
                    }).catch(this.processResponseError);
                }
                this.editable.form_confirmed = false;
            },
            validate() {
                if (this.$refs.form) this.$refs.form.validate();
                else this.$emit('validate');
            },
        },
        watch: {
            editable: {
                handler (newModel, oldModel) {
                    if (!this.runWatch) return;
                    if (this.editable.id > 0) this.debouncedUpdate();
                    else this.debouncedCreate();
                },
                deep: true
            },
        },

    }
</script>
<style>
    .data-form .v-toolbar__content{
        display: none;
    }
    .data-form header.v-toolbar{
        max-height: 50px;
    }
    .data-form {
        width: 500px;
        margin-bottom: 30px;
    }
    .data-action {
        width: 300px;
    }
    .data-action .v-card {
        padding: 10px;
        margin-bottom: 4px;
    }
    .v-toolbar__title {
        color: #1976d2 !important;
    }

</style>

