<template>
    <v-row justify="center">
        <v-dialog
                v-model="show"
                max-width="600"
                @click:outside="$emit('close')"
        >
            <v-card>
                <v-card-title class="headline" ><slot name="title">{{title}}</slot></v-card-title>
                <v-card-text ><slot name="text">{{text}}</slot></v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="$emit('close')">
                        Отмена
                    </v-btn>
                    <v-btn @click="$emit('delete')"
                           class="mr-4 dark-btn"
                    >Удалить</v-btn>
                    <v-spacer/>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    export default {
        name: "model-delete-dialog",
        props: {
            customTitle : {
                type: String,
                default: "Удаления портфеля",
            },
            customText : {
                type: String,
                default: "После удаления данные невозможно будет восстановить. Все равно удалить?",
            }
        },
        data: (vm) => {
            return {
                show: true,
                title: vm.customTitle,
                text: vm.customText,
            };
        }
    }
</script>

<style scoped>

</style>