<template>
    <v-row justify="center">
        <v-dialog
                v-model="model.created || model.updated"
                max-width="600"
        >
            <v-card>
                <v-card-title class="headline" ><slot name="title">{{title}}</slot></v-card-title>
                <v-card-text ><slot name="text">{{text}}</slot></v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            class="dark-btn"
                            text
                            :to="backLink"
                    >
                        К списку
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>

</template>

<script>
    export default {
        props: {
            backLink: String,
            model: Object,
        },
        name: "model-edit-result",
        data: (vm) => {
            return {
                title:'Успешно',
                text: 'Данные сохранены',
            }
        },

    }
</script>

<style scoped>
    .block-form {
        width: 100%;
    }
</style>