<template>
    <v-menu
            ref="menu1"
            v-model="menu1"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="auto"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                    v-model="dateFormatted"
                    :label="tflabel"
                    :error-messages="dateError"
                    v-bind="attrs"
                    maxlength="10"
                    outlined
                    dense
                    @input="parseDate"
            >
                <template v-slot:prepend-inner>
                    <v-icon v-on="on">mdi-calendar</v-icon>
                </template>
            </v-text-field>
        </template>
        <v-date-picker
                v-model="date"
                no-title
                @input="menu1 = false"
        ></v-date-picker>
    </v-menu>
</template>

<script>
    export default {
        name: "app-date-picker",
        props: {
            value: String,
            label: String,
        },
        data: vm => ({
            date: vm.value,
            dateFormatted: vm.formatDate(vm.value),
            dateError: '',
            menu1: false,
            tflabel: vm.label,
        }),

        watch: {
            date (val) {
                this.dateFormatted = this.formatDate(val);
                if (!this.dateError) this.$emit('date',val ? val : '');
                else this.$emit('date', '')
            },
        },

        methods: {
            formatDate (date) {
                if (!date || date.length !== 10) return !date ? '' : (date.length < 10 ? date : date.substr(0, 10));
                const [year, month, day] = date.split('-');
                return `${day}.${month}.${year}`
            },
            parseDate (date) {
                if (!date) {
                    this.dateError = '';
                    return null;
                }
                date = this.dateFormatted= date.substr(0, 10);
                if (/[^\d\.]/.test(this.dateFormatted)) {
                    this.dateFormatted = date = "".replace(/[^\d\.]/, '');
                }
                if (this.dateFormatted.length === 2 || this.dateFormatted.length === 5) {
                    this.dateFormatted = date = date + '.';
                }
                if (/^\d\d\.\d\d\.\d\d\d\d$/.test(date) && date.length === 10) {
                    this.dateError = '';
                    const [day, month, year] = date.split('.');
                    this.date = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
                    return;
                }
                this.dateError = 'Правильный формат дд.мм.гггг';
            },
        },
    }
</script>

<style scoped>

</style>