<template>
    <v-card v-if="$store.state.auth.user.user_type === 'admin'">
        <v-card-title>{{title}}</v-card-title>
        <v-card-text>
                <v-container
                        class="d-flex d-inline-flex filter justify-center">
                    <v-card outlined >
                        <v-list>
                            <v-list-item>
                                <v-icon large>mdi-upload-outline</v-icon>
                                <v-list-item-content class="d-flex">
                                    <v-btn text @click="$refs.fileInput.click()" max-width="max-content" :disabled="!canLoad" class="trigger">Загрузить файл</v-btn>
                                    <input style="display: none;"  type="file" ref="fileInput" @change="upload"/>
                                    <v-spacer></v-spacer>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <div class="v-text-field__details d-flex justify-center" v-if="message"><div class="v-messages theme--light" role="alert"><div class="v-messages__wrapper"><div class="v-messages__message" style="text-align: center">{{message}}</div></div></div></div>
                    </v-card>
                </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "FileUploadButton",
        props:{
            title: String,
            loader: {
                type: Function,
            },
        },
        data() {
            return {
                canLoad: true,
                message: '',
            }
        },
        methods: {
            upload(){
                let file = this.$refs.fileInput.files[0];
                this.canLoad = false;
                this.loader({file})
                    .then(r => {
                        this.canLoad = true;
                        this.message = 'Файл успешно обработан'
                        this.$refs.fileInput.files = (new DataTransfer()).files;
                    })
                    .catch((error) => {
                        this.message = '';
                        let r = error.response;
                        if (!r) {console.log(error)}
                        let message = '';
                        if (r.status === 422 && r.data.errors && r.data.errors.file) {
                            message = r.data.errors.file[0];
                        } else if (r.status === 400) {
                            message = r.data.message;
                        } else if (r.status === 500) {
                            message = 'Не удалось загрузить файл.';
                        }
                        if (message) {
                            this.$root.$children[0].snackbarText = message;
                            this.$root.$children[0].snackbar = true;
                        }
                        this.canLoad = true;
                        this.$refs.fileInput.files = (new DataTransfer()).files;
                    });
            }
        }
    }
</script>

<style scoped>
</style>