<template>
    <div class="area-tab">
        <app-data-table :headers="headers" :showSelect="false" :fixedCol="true"
                        :showScroll="true"
                        :emptyItemText="''"
                        ref="table"
                        :toItem="toItem"
                        :itemsUrl="areaUrl">
        </app-data-table>
    </div>
</template>

<script>
    export default {
        name: "area-tab",
        props: {
            areaUrl: String,
        },
        data: (vm) => {
            return {
                headers: [
                    {value: 'locality', text: 'Населенный пункт', sortable: false,width: '200px'},
                    {value: 'details', text: 'Адрес', sortable: false, hidden:true, width: 'calc(100% - 200px)'},
                ]
            }
        },
        methods: {
            toItem(item) {
                item.hidden = true;
                item.hidden_prepend = item.address
                return item;
            }
        }
    }
</script>

<style>
    .area-tab table {
        width:  100% !important;
    }
</style>