<template>

    <v-container class="d-flex flex-column">
        <v-card class="no-shadow">
            <v-card-title>Контактная информация</v-card-title>
            <v-card-text class="d-flex">
                <v-card-subtitle>Адрес суда</v-card-subtitle>
                <v-card-subtitle>{{court.address || '-'}}</v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Телефон</v-card-subtitle>
                <v-card-subtitle>{{court.phone || '-'}}</v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Электронная почта</v-card-subtitle>
                <v-card-subtitle>{{court.email || '-'}}</v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Сайт</v-card-subtitle>
                <v-card-subtitle v-if="court.url">
                    <a :href="court.url" target="_blank">{{court.url}}</a>
                </v-card-subtitle>
                <v-card-subtitle v-else>-</v-card-subtitle>
            </v-card-text>

            <div v-if="court.main && court.main.id">
                <v-card-title>Районный суд</v-card-title>
                <v-card-text>
                    <router-link :to="main" v-text="court.main.name"></router-link>
                </v-card-text>
            </div>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        props: {
            court: Object,
        },
        name: "data-tab",
        data: (vm) => {
            return {
            };
        },
        computed: {
            main() {
                return `/region/${this.$route.params.code}/court/${this.court.main.court_type}/${this.court.main.id}`
            }
        }
    }
</script>

<style scoped>

    .v-card__subtitle{
        min-width: 200px;
        padding: 0;
    }
</style>