<template>
    <v-container class="d-flex flex-column">
        <v-card v-if="model.file" class="no-shadow ma-4">
            <v-btn @click="download" class="dark-btn">Скачать реквизиты</v-btn>
            <v-card-text class="d-flex" v-if="model.source_url">
                <v-card-subtitle v-text="'Ссылка на страницу с данными '"></v-card-subtitle>
                <v-card-subtitle ><a :href="model.source_url" target="_blank">{{model.source_url}}</a> </v-card-subtitle>
            </v-card-text>
        </v-card>
        <v-card v-else class="no-shadow">
            <v-card-text class="d-flex">
                <v-card-subtitle>Получатель</v-card-subtitle>
                <v-card-subtitle v-text="model.receiver_name || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>ИНН</v-card-subtitle>
                <v-card-subtitle v-text="model.inn || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>КПП</v-card-subtitle>
                <v-card-subtitle v-text="model.kpp || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Расчетный счет</v-card-subtitle>
                <v-card-subtitle v-text="model.account || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Банк</v-card-subtitle>
                <v-card-subtitle v-text="model.bank_name || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>БИК банка</v-card-subtitle>
                <v-card-subtitle v-text="model.bik || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>ОКТМО</v-card-subtitle>
                    <v-card-subtitle v-text="model.oktmo || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>КПК</v-card-subtitle>
                <v-card-subtitle v-text="model.kbk || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex">
                <v-card-subtitle>Номер казначейского счета</v-card-subtitle>
                <v-card-subtitle v-text="model.kazna_account || '-'"></v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex" v-if="model.source_url">
                <v-card-subtitle v-text="'Ссылка на страницу с данными '"></v-card-subtitle>
                <v-card-subtitle ><a :href="model.source_url" target="_blank">{{model.source_url}}</a> </v-card-subtitle>
            </v-card-text>
            <v-card-text class="d-flex" v-if="model.by_ifns">
                <v-card-subtitle v-text="'Реквизиты сопоставлены вручную'"></v-card-subtitle>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "requisites-tab",
        props: {
            requisite: Object,
        },
        data: (vm) => {
            return {
                model: {
                    ...{
                        receiver_name: '',
                        inn: '',
                        kpp: '',
                        account: '',
                        bank_name: '',
                        bik: '',
                        oktmo: '',
                        kbk: '',
                        kazna_account: '',
                    },
                    ...vm.requisite
                }
            }
        },
        methods: {
            download() {
                window.open(this.model.file, "_blank");
            }
        }
    }
</script>

<style scoped>

    .v-card__subtitle{
        min-width: 200px;
        padding: 0;
    }
</style>