<template>

    <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                    :filter="{}"
                    :emptyItemText="''"
                    :items="structure">
        <template v-slot:body.pagination><div class="hidden"></div></template>
    </app-data-table>
</template>

<script>
    export default {
        name: "structure-tab",
        props: {
            structure: Array,
        },
        data: (vm) => {
            return {
                headers: [
                    {value: 'work_position', text: 'Должность', sortable: false},
                    {value: 'fio', text: 'ФИО', sortable: false},
                    {value: 'room', text: 'Кабинет', sortable: false},
                    {value: 'phone', text: 'Телефон', sortable: false},
                    {value: 'department', text: 'Отдел', sortable: false},
                    {value: 'email', text: 'Электронная почта', sortable: false},
                ]
            }
        }
    }
</script>

<style scoped>

</style>