<template>
    <model-edit-page
            :backLink="backLink"
            :historyApiLink="historyApiLink"
            :model="company_case"
            :title="title"
            :service="service"
            :modelHandler="caseHandler"
            :historyHeaders="historyHeaders"
            :hisToItem="hisToItem"
    >

        <template v-slot:edit-form="props">
            <v-checkbox
                    v-model="props.editable.is_active"
                    label="Активность"
            ></v-checkbox>
            <v-divider></v-divider>
            <v-spacer></v-spacer>
            <v-card-title>Основная информация</v-card-title>
            <v-text-field
                    v-model="props.editable.name"
                    :error-messages="props.vm.errors.name"
                    label="Наименование*"
                    required
                    type="text"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.sort"
                    :error-messages="props.vm.errors.sort"
                    label="Сортировка"
                    type="number"
            ></v-text-field>
            <v-combobox
                    :items="checkTypes"
                    :error-messages="props.vm.errors.check_type"
                    v-model="props.editable.check_type"
                    label="Тип проверки"
            />
            <v-radio-group
                row
                class="mt-0"
                v-if="vm.can_fssp_check || vm.can_deal_check"
            >
                <v-checkbox
                        v-if="props.editable.check_type.value === 2"
                        v-model="props.editable.fssp_check_option"
                        label="Проверить по ФССП"
                        :value="1"
                ></v-checkbox>
                <v-checkbox
                        v-if="props.editable.check_type.value === 3"
                        v-model="props.editable.deal_check_option"
                        label="Проверить по судам"
                        :value="1"
                ></v-checkbox>
            </v-radio-group>

        </template>
    </model-edit-page>
</template>

<script>
    import _ from 'lodash';
    import modelEdit from '../model-edit';
    import CaseService from '@/services/company_case';
    import CompanyService from '@/services/company'
    export default {
        name: "edit",
        components: {
            'model-edit-page':modelEdit,
        },
        created() {
            let companyId = this.$route.params.company_id;
            if (companyId != 0)
                CompanyService.get(companyId).then((response) =>{
                    this.can_fssp_check = response?.data?.data?.active_plan?.company_plan?.fssp_check || false;
                    this.can_deal_check = response?.data?.data?.active_plan?.company_plan?.deal_check || false;
                });
        },
        data: (vm) => {
            return {
                backLink: '/company/' +vm.$route.params.company_id + '/case',
                historyApiLink:'/histories/case',
                title: 'Новый портфель',
                company_case: {
                    id: 0,
                    is_active:true,
                    name: '',
                    sort: null,
                    check_type: null,
                    fssp_check_option: 0,
                    deal_check_option: 0,
                    form_confirmed: false,
                    created:false,
                    updated:false,
                },
                can_fssp_check: false,
                can_deal_check: false,
                service: CaseService,
                plans: [],
                historyHeaders: [
                    {text: "Дата", value: "created_at", fixed: true},
                    {text: "Кто изменил", value: "author", fixed: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Название", value: "name"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Тип проверки", value: "check_type"},
                ],
                checkTypes: CaseService.getCheckTypes(),
                vm,
            };
        },
        methods: {
            caseHandler(company){},
            hisToItem(item) {
                if (item.is_active !== undefined) item.is_active = item.is_active == 1 ? 'Активный' : 'Не активный';
                if (item.check_type !== undefined) item.check_type = item.check_type == 1 ? 'Полная' :(item.check_type == 2 ? 'Судебные дела' : 'Оценка');
                return item;
            },
        },
        watch: {
            ["company_case.check_type"](newVal, oldVal) {
                if (oldVal === 3 && !newVal)
                    this.company_case.check_type = 2
            },
        }
    }
</script>