<template>
    <model-edit-page
                :backLink="backLink"
                :historyApiLink="historyApiLink"
                :model="company_case"
                :title="title"
                v-on:validate="$refs.form.validate()"
                v-on:back="closeDialog"
                :service="service">
            <template v-slot:toolbar><div></div></template>
            <template v-slot:edit-body="props">
                <v-row justify="center">
                    <v-dialog
                            v-model="editDialog"
                            max-width="600"
                            @click:outside="closeDialog"
                    >
                <v-card>
                <v-card-title class="headline" ><slot name="title">{{editTitle}}</slot></v-card-title>
                <v-card-text >
                <v-form class="data-form"
                        ref="form"
                        v-model="props.vm.valid"
                        lazy-validation
                        style="margin-bottom: 0 !important;">
                    <v-checkbox
                            v-model="props.editable.is_active"
                            label="Активность"/>
                    <v-divider></v-divider>
                    <v-spacer></v-spacer>
                    <v-card-title>Основная информация</v-card-title>
                    <v-text-field
                            v-model="props.editable.name"
                            :error-messages="props.vm.errors.name"
                            label="Наименование*"
                            required
                            type="text"/>
                    <v-text-field
                            v-model="props.editable.sort"
                            :error-messages="props.vm.errors.sort"
                            label="Сортировка"
                            type="number"/>
                    <v-radio-group
                        v-model="props.editable.check_type"
                        :disabled="true"
                        row>
                        <template v-slot:label>
                            <div>Тип проверки:</div>
                        </template>
                        <v-radio
                                label="Оценка"
                                :value="0"
                        ></v-radio>
                        <v-radio
                                label="Полная"
                                :value="1"
                        ></v-radio>
                        <v-radio
                                label="Судебные дела"
                                :value="2"
                        ></v-radio>
                        <v-radio
                                label="Испольнительные производства"
                                :value="3"
                        ></v-radio>
                    </v-radio-group>
                </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="closeDialog">
                        Отмена
                    </v-btn>

                    <v-btn
                            @click="props.editable.form_confirmed = true"
                            :disabled="!props.vm.valid"
                            class="mr-4 dark-btn">
                        Сохранить
                    </v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
                </v-card>
                    </v-dialog>
                </v-row>
            </template>
    </model-edit-page>
</template>

<script>
    import _ from 'lodash';
    import modelEdit from '../model-edit';
    import CaseService from '@/services/company_case';
    export default {
        name: "edit",
        props: {
            editable: Object,
            historyApiLink: String,
        },
        components: {
            'model-edit-page':modelEdit,
        },
        data: (vm) => {
            return {
                editDialog: true,
                editTitle: 'Редактирование портфеля',
                backLink: '/company/' +vm.$route.params.company_id + '/case/' +vm.$route.params.id,
                title: 'Новый портфель',
                company_case: vm.editable,
                service: CaseService,
                vm,
                checkTypes: CaseService.getCheckTypes(),
            };
        },
        methods: {
            closeDialog() {
                this.$emit('close-edit-dialog');
            }
        }
    }
</script>
<style scoped>
    .data-form {
        width: 100% !important;
    }
</style>