<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>Портфели</v-toolbar-title>
            </v-card>

            <v-card  v-if="$store.state.auth.user.user_group >= 64"
                    class="pa-2 no-shadow"
                    tile
            >
                <v-btn class="dark-btn" @click="createItem()">Добавить портфель</v-btn>
            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="filter"
                            :toItem="toItem"
                            :editItem="editItem"
                            :service="crudService">
            </app-data-table>
        </v-card>
    </v-container>
</template>
<script>
    import CaseService from '@/services/company_case';

    export default {
        data: function () {
            return {
                selected: [],
                headers: [
                    {text: "Наименование", value: "name", link: true},
                    {text: "Сортировка", value: "sort"},
                    {text: "Статус", value: "is_active"},
                    {text: "Тип проверки", value: "check_type"},
                    {text: "Количество записей", value: "debtors_count", sortable:false},
                    {text: "Последнее обновление", value: "checked_at", sortable:false},
                ],
                filter: {},
                periods: [],
                crudService: CaseService
            }
        },
        methods: {
            editItem(id) {
                this.$router.push({name: "company-case-manage", params: {id: id, company_id: this.$route.params.company_id}});
            },
            createItem() {
                this.$router.push({name: "company-case-create", params: {id: 0, company_id: this.$route.params.company_id}});
            },
            toItem(item) {
                item.is_active= !item.is_active ? 'Заблокированный' : 'Активный';
                if (item.check_type !== undefined) item.check_type = this.crudService.getCheckType(item.check_type);
                return item;
            },
        }
    }
</script>