<template>
    <v-container>
        <v-toolbar
                flat
                class="edit-tabs"
        >
            <v-toolbar-title>{{company_case.name}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <router-link :to="backLink" >Вернуться к списку</router-link>
            <template v-slot:extension>
                <v-tabs
                        v-model="tab"
                        align-with-title
                >
                    <v-tabs-slider color="white"></v-tabs-slider>

                    <v-tab
                            v-for="item in tabs"
                            :key="item"
                            color="black"
                    >
                        {{ item }}
                    </v-tab>
                    <v-spacer></v-spacer>
                    <v-btn v-if="$store.state.auth.user.user_group >= 64" @click="vm.$refs.refDataTab.updateDebtors()" :disabled="!updateAvailable()" icon><v-icon large>mdi-cached</v-icon></v-btn>
                    <v-btn v-if="$store.state.auth.user.user_group >= 64" @click="vm.editDialog = true" icon><v-icon large>mdi-pencil-outline</v-icon></v-btn>
                    <v-btn v-if="$store.state.auth.user.user_group >= 64" @click="vm.deleteDialog = true" icon><v-icon large>mdi-briefcase-remove-outline</v-icon></v-btn>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-tabs-items v-model="tab">
            <v-tab-item :key="tabs[0]">
                <data-tab ref="refDataTab" :case_model="company_case"/>
            </v-tab-item>
            <v-tab-item :key="tabs[1]">
                <v-container class="d-flex">
                    <app-data-table :headers="uploadHistoryHeaders" :showSelect="false" :fixedCol="true"
                                    :toItem="uploadHisToItem" :emptyItemText="'-'"
                                    :itemsUrl="$route.path+'/file'">
                    </app-data-table>
                </v-container>
            </v-tab-item>
            <v-tab-item :key="tabs[2]">
                <app-data-table :headers="historyHeaders" :showSelect="false" :fixedCol="true"
                                :toItem="hisToItem" :emptyItemText="'-'"
                                :itemsUrl="historyApiLink+ '/' + $route.params.id">
                </app-data-table>
            </v-tab-item>

        </v-tabs-items>

        <case-edit v-if='editDialog' :editable="company_case"
            v-on:close-edit-dialog="closeEdit"
            :historyApiLink="historyApiLink"/>
        <model-delete-dialog v-if="deleteDialog"
            v-on:close="deleteDialog=false"
            v-on:delete="vm.delete"/>
    </v-container>
</template>

<script>
    import caseEditDialog from './edit';
    import modelEdit from '../model-edit';
    import modelDelete from '../model-delete-dialog';
    import CaseService from '@/services/company_case';
    import dataTab from './tabs/data-tab';
    import caseManageService from '@/services/case_manage'
    export default {
        components: {
            'case-edit':caseEditDialog,
            'model-edit-page': modelEdit,
            'model-delete-dialog': modelDelete,
            'data-tab': dataTab,
        },
        data: (vm) => {
            return {
                editDialog:  false,
                deleteDialog:  false,
                backLink: '/company/' +vm.$route.params.company_id + '/case',
                historyApiLink:'/histories/case',
                tabs: ['Данные', 'История проверок', 'История изменений'],
                tab: null,
                company_case: {
                    id: 0,
                    is_active:false,
                    name: '',
                    sort: null,
                    check_type: null,
                    form_confirmed: false,
                    created:false,
                    updated:false,
                    checked_at: null,
                    checked_at_timestamp: null,
                },
                service: CaseService,
                historyHeaders: [
                    {text: "Дата", value: "created_at", fixed: true},
                    {text: "Кто изменил", value: "author", fixed: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Название", value: "name"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Тип проверки", value: "check_type"},
                ],
                caseManageService: caseManageService,
                vm,
            }
        },
        computed:  {
            uploadHistoryHeaders:(vm) => {
                return [
                    {text: "Дата загрузки", value: "created_at", fixed: true},
                    {text: "Пользователь", value: "username", fixed: true, sortable: false},
                    vm.caseManageService?.getFormats()[vm.company_case.check_type]?.length > 1 ?
                        {text: "Формат файла", value: "format"} : null,
                    {text: "Обработано", value: "progress", sortable: false,},
                    {text: "Дата завершения/остановки", value: "finished_at"},
                ].filter(v => v !== null)
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            updateAvailable() {
                if (this.company_case.checked_available_timestamp === null ||
                    new Date(this.company_case.checked_available_timestamp*1e3).getTime() < new Date().getTime()) {
                    return this.company_case.is_active;
                }
                return false;
            },
            closeEdit( ) {
                this.load();
                this.editDialog = false;
            },
            load() {
                if (this.$route.params.id > 0) this.service.get(this.$route.params.id).then((response) => {
                    Object.keys(response.data.data).map((key) => {
                        this.company_case[key] = response.data.data[key];
                    })
                }).catch((e) => {
                    this.$router.push(this.backLink)
                });
            },
            hisToItem(item) {
                if (item.is_active !== undefined) item.is_active = item.is_active == 1 ? 'Активный' : 'Не активный';
                if (item.check_type !== undefined) item.check_type = this.service.getCheckType(item.check_type);
                return item;
            },
            uploadHisToItem(item) {
                item.username = !item.user ? '-' : item.user.name;
                item.progress = item.progress_items + ' из ' + item.items;
                return item;
            },
            delete() {
                let id = this.$route.params.id;
                this.service.delete(id).then((response)=>{
                    this.$router.push(this.backLink);
                }).catch(error => {
                    console.log('delete case error', error)
                })
            }
        },
    }
</script>