<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>{{title}}</v-toolbar-title>
            </v-card>
            <v-card
                class="pa-2 no-shadow"
                tile>

                <router-link :to="backLink" >Вернуться к списку регионов</router-link>
            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="{}"
                            :editItem="showItem"
                            :emptyItemText="'-'"
                            :items="bailiffs">
                <template v-slot:body.pagination><div class="hidden"></div></template>
            </app-data-table>
        </v-card>
    </v-container>
</template>

<script>
    import regionService from '@/services/regions'

    export default {
        name: "region_courts",
        data: (vm) => {
            return {
                backLink: '/bailiff/region',
                title: 'Отдлеы судебных приставов',
                headers: [

                ],
                service: regionService,
                bailiffs: [],
                canLoad: true,
                message: '',
            }
        },
        created(){
            this.service.getAllBailiffs({region_code: this.$route.params.code}).then((response) => {
                this.bailiffs = response.data?.data?.bailiffs || [];
                this.title = response.data?.data?.region?.name || this.title;
                let h = [];
                Object.keys(response.data?.data?.bailiffs_headers).map((key) => {
                    this.headers.push({
                        value: key,
                        text: response.data?.data?.bailiffs_headers[key],
                        link: false,
                    })
                })
                // this.headers = h;
                console.log(this.headers);
            })
        },
        methods: {
            showItem(type) {
            },
        }
    }
</script>

<style scoped>

</style>