<template>
    <regions-page ref="root">
        <template v-slot:filter="{vm}">
            <v-card
                    class="d-flex justify-space-between mb-6 no-shadow" style="margin-bottom: 0 !important;"
                    flat
                    tile
            >
                <v-card
                        tile
                        class="pa-2 flex-grow-1 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Регион"
                            :items="vm.regions"
                            v-model="vm.filter.region"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                        tile>

                    <v-btn
                            class="mr-4"
                            @click="clearFilter"
                            :disabled="!canClearFilter()"
                    >Сбросить
                    </v-btn>
                    <v-btn class="mr-4 dark-btn"
                           prepend-icon="mdi-download-outline"
                           @click="download"
                    >Скачать данные
                    </v-btn>
                </v-card>
                <v-spacer/>
            </v-card>
        </template>
    </regions-page>
</template>

<script>
    import FileLoader from '@/services/file_loader'
    import RegionsPage from '@/views/courts/regions'
    import RegionService from '@/services/regions'


    export default {
        name: "regions",
        extends: RegionsPage,
        components: {
            RegionsPage,
        },
        mounted() {
            this.$refs.root.item_route_name = "region-bailiffs";
            this.getMeta();
        },
        methods: {
            getMeta() {
                let vm = this;
                if (!RegionService.getRegions()) RegionService.loadMeta().then((response) => {
                    vm.regions = RegionService.getRegions();
                });
                else {
                    vm.regions = RegionService.getRegions();
                }

            },
            download() {
                let filter = {
                    region_code: this.$refs.root.filter.region?.value || null,
                    export: true
                };
                FileLoader.download('/bailiff', filter);
            },
        }
    }
</script>

<style scoped>

</style>