<template>
    <v-container>
        <app-data-table ref="refTable" :filter="filter" :service="service" :headers="headers"
                        :showSelect="true" :fixedCol="true" :toItem="toItem" :emptyItemText="'-'"
                        :editItem="showCourt"
                        v-on:input="checkSelectedItems">
            <template v-slot:body.prepend>
                <debtors-action-panel ref="actionPanel"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
            <template v-slot:header-settings-menu="{header}">
                <v-menu offset-y v-model="vm.headerMenu" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small
                                v-bind="attrs"
                                v-on="on">mdi-cog-outline</v-icon>
                    </template>
                    <v-card>
                        <v-card-title>Настройка столбцов</v-card-title>
                        <v-card-subtitle style="padding-bottom: 0">
                            <a @click="selectAllColumn()">Выбрать все </a>
                            <a @click="selectAllColumn(true)">Отменить все</a>
                        </v-card-subtitle>
                        <v-container style="width: 650px" class="d-flex d-inline-flex flex-wrap" ref="settingsMenu">
                            <div v-for='(value, column) in vm.columns' style="width: 200px">
                                <input type='checkbox' v-bind:value='column' v-model='vm.checkedColumns'>{{value}}
                            </div>
                        </v-container>
                        <v-card-actions>
                            <v-btn @click="vm.headerMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn @click="applyColumns"
                                   color="success"
                                   class="mr-4"
                            >Применить</v-btn>
                            <v-spacer/>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </template>
            <template v-slot:item-settings-menu="{item}">
                <v-list>
                    <v-list-item @click="vm.deleteModelId = item.id">
                        <v-list-item-title>Удалить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.refresh(item.id)">
                        <v-list-item-title>Обновить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.edit(item)" v-if="item.error">
                        <v-list-item-title>Исправить ошибки</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.download(item.id)">
                        <v-list-item-title>Скачать</v-list-item-title>
                    </v-list-item>
                </v-list>
            </template>
            <template v-slot:body.append>
                <debtors-action-panel ref="actionPanel2"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
        </app-data-table>
        <model-delete-dialog ref="deleteDialog" v-if="vm.deleteModelId !== null"
                             v-on:close="vm.deleteModelId=null"
                             v-on:delete="vm.delete"
                             :customTitle="vm.deleteDialog.title"
                             :customText="vm.deleteDialog.text"/>
        <debtor-edit-dialog ref="editDialog"
                            :address="true"
                            :editable.sync="dialogItem"
        />
        <debtor-courts-dialog ref="courtsDialog"
                            :editable.sync="courtsDialogItem"
        />
    </v-container>
</template>

<script>
    import DebtorsActionPanel from "./debtors-action-panel";
    import ModelDeleteDialog from '../../model-delete-dialog'
    import debtorService from '@/services/debtor';
    import DebtorsTab from "./debtors-tab";
    import FileLoader from '@/services/file_loader'
    import DebtorEditDialog from './debtor-edit-dialog'
    import DebtorCourtsDialog from './debtor-courts-dialog'

    export default {
        extends: DebtorsTab,
        components: {
            DebtorsActionPanel,
            ModelDeleteDialog,
            DebtorEditDialog,
            DebtorCourtsDialog,
        },
        name: "debtors-tab",
        data: (vm) => {
            let debtor = {
                id: null,
                mark: '',
                fio: '',
                loaded_address: '',
                courts: [],
            };
            return {
                service: debtorService,
                columns: {},
                checkedColumns: [],
                hiddenColumns: [],
                headers: [
                    {value: "settings", fixed: true, sortable:false},
                    {text: "Метка", value: "mark",fixed:true},
                    {text: "Фио должника", value: "full_name",fixed:false},
                    {text: "Адрес должника", value: "address", width:'200px',fixed:false},
                ],
                headerMenu: false,
                deleteModelId: null,
                dialogItem: {...debtor},
                courtsDialogItem: {...debtor},
                serviceColumnsName: 'court_debtor_columns',
                vm
            };
        },
        methods: {
            modifySpecialColumn(v) {
                if (v.value === 'court_name') {
                    v.link = true
                }
                return v
            },
            showCourt(id, debtor) {
                if (debtor.courts.length > 1) {
                    this.$refs.courtsDialog.show = true
                    this.courtsDialogItem = debtor;
                    return;
                }
                let court = debtor.courts[0]
                this.$router.push('/region/'+court.region_code+'/court/'+court.court_type+ '/'+court.id)
            },
            toItem(item) {
                item.color = this.getDebtorColorInfo(item)
                item.toItem = this.toItem;
                let court = item.courts[0];
                if (court && item.courts.length === 1) {
                    item.court_name = court?.name
                    item.court_address = court?.address
                    item.court_phone = court.phone?.split(',')[0]
                    item.court_inn = (court?.requisite?.inn)
                    item.court_kpp = (court?.requisite?.kpp)
                    item.court_bik = (court?.requisite?.bik)
                    item.court_account =  (court?.requisite?.account)
                    item.court_kbk = (court?.requisite?.kbk)
                    item.court_kazna_account = (court?.requisite?.kazna_account)
                    item.court_oktmo = (court?.requisite?.oktmo)
                    item.court_bank_name = (court?.requisite?.bank_name)
                    item.court_receiver_name = (court?.requisite?.receiver_name)
                } else if (item.courts.length > 1) {
                    item.court_name = 'Посмотреть список судов'
                }
                return item;
            },
            edit(item) {
                this.$refs.editDialog.show = true
                this.dialogItem = item;
            }
        },
    }
</script>

<style scoped>

</style>