<template>
    <v-container>
        <app-data-table ref="refTable" :filter="filter" :itemsUrl="itemsUrl" :headers="headers"
                        :showSelect="true" :fixedCol="true" :toItem="toItem" :emptyItemText="'-'"
                        :editItem="showCourt"
                        v-on:input="checkSelectedItems">
            <template v-slot:body.prepend>
                <debtors-action-panel ref="actionPanel"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
            <template v-slot:header-settings-menu="{header}">
                <v-menu offset-y v-model="vm.headerMenu" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small
                                v-bind="attrs"
                                v-on="on">mdi-cog-outline</v-icon>
                    </template>
                    <v-card>
                        <v-card-title>Настройка столбцов</v-card-title>
                        <v-card-subtitle style="padding-bottom: 0">
                            <a @click="selectAllColumn()">Выбрать все </a>
                            <a @click="selectAllColumn(true)">Отменить все</a>
                        </v-card-subtitle>
                        <v-container style="width: 650px" class="d-flex d-inline-flex flex-wrap" ref="settingsMenu">
                            <div v-for='(value, column) in vm.columns' style="width: 200px">
                                <input type='checkbox' v-bind:value='column' v-model='vm.checkedColumns'>{{value}}
                            </div>
                        </v-container>
                        <v-card-actions>
                            <v-btn @click="vm.headerMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn @click="applyColumns"
                                   color="success"
                                   class="mr-4"
                            >Применить</v-btn>
                            <v-spacer/>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </template>
            <template v-slot:item-settings-menu="{item}">
                <v-list>
                    <v-list-item @click="vm.download(item.id)">
                        <v-list-item-title>Скачать</v-list-item-title>
                    </v-list-item>
                </v-list>
            </template>
            <template v-slot:body.append>
                <debtors-action-panel ref="actionPanel2"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
        </app-data-table>
        <debtor-courts-dialog ref="courtsDialog"
                              :editable.sync="courtsDialogItem"
        />
        <model-delete-dialog ref="deleteDialog" v-if="vm.deleteModelId !== null"
                             v-on:close="vm.deleteModelId=null"
                             v-on:delete="vm.delete"
                             :customTitle="vm.deleteDialog.title"
                             :customText="vm.deleteDialog.text"/>
    </v-container>
</template>

<script>
    import DebtorsActionPanel from "./debtors-action-panel";
    import CourtDebtorsTab from "./court-debtors-tab";
    import debtorService from '@/services/debtor';
    import FileLoader from '@/services/file_loader'

    export default {
        extends: CourtDebtorsTab,
        components: {
            DebtorsActionPanel,
        },
        name: "court-results-tab",
        props: {
            filter: Object,
        },
        data: (vm) => {
            return {
                itemsUrl: debtorService.getCasePath() + '/results',
                service: debtorService,
                columns: {},
                checkedColumns: [],
                hiddenColumns: [],
                headers: [
                    {value: "settings", fixed: true, sortable:false},
                    {text: "Метка", value: "mark",fixed:true},
                    {text: "Фио должника", value: "full_name",fixed:false},
                    {text: "Адрес должника", value: "address", width:'200px',fixed:false},
                ],
                headerMenu: false,
                deleteModelId: null,
                vm
            };
        },
    }
</script>

<style scoped>

</style>