<template>
    <debtors-tab-filter @filterState="setFilterState">
        <template v-slot:inputs>
            <v-container class="d-flex flex-column filter">
                <v-card
                        class="d-flex justify-space-between mb-6 no-shadow "
                        flat
                        tile
                >
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Метка"
                                outlined
                                v-model="filter.mark"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="ФИО должника"
                                outlined
                                v-model="vm.filter.fio"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Адрес должника"
                                outlined
                                v-model="vm.filter.address"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                            tile>
                        <v-btn
                                class="mr-4"
                                @click="clearFilter"
                                :disabled="!canClearFilter()"
                        >Сбросить</v-btn>
                    </v-card>
                </v-card>
            </v-container>
        </template>
    </debtors-tab-filter>
</template>

<script>
    import DebtorsTabFilter from './debtors-tab-filter';
    export default {
        components: {DebtorsTabFilter},
        extends: DebtorsTabFilter,
        name: "court-debtors-tab-filter",
        data: (vm) => {
            return {
                show: false,
                filter: vm['filter.sync'],
                vm
            };
        },
        methods: {
            getFilterState() {
                return localStorage.courtDebtorsTabFilterState === 'true';
            },
            setFilterState(newState) {
                localStorage.courtDebtorsTabFilterState = newState;
            },
            canClearFilter() {
                let canClear = false;
                Object.keys(this.filter).forEach((v, k)=> {
                    canClear = canClear || this.filter[v];
                });
                return canClear;
            },
            clearFilter() {
                Object.keys(this.filter).forEach((v, k) => {
                    this.filter[v] = '';
                });
            },
        },
    }
</script>

<style scoped>

</style>