<template>
    <div class="gray">
        <v-container class="d-flex d-inline-flex justify-center  align-center filter">
            <v-card class="d-flex align-center justify-center pa-4 mx-auto no-shadow">
                <div class="text-h6" v-text="`Загрузка файла`"/>
            </v-card>
            <v-spacer></v-spacer>
            <v-btn icon @click="show = !show">
                <v-icon large v-if="!show">mdi-chevron-down</v-icon>
                <v-icon large v-else>mdi-chevron-up</v-icon>
            </v-btn>
        </v-container>
        <v-banner
            v-model="show"
            single-line
            transition="slide-y-transition">
            <v-container
                    class="d-flex d-inline-flex filter">
            <v-card flat style="max-width: 400px">
                <v-card-title style="height: 100px;">Тип загружаемого файла: XLSX</v-card-title>
                <v-card outlined >
                    <v-list>
                        <v-list-item>
                            <v-icon large>mdi-download-outline</v-icon>
                            <v-list-item-content class="d-flex">
                                <v-btn text @click="download" max-width="max-content">Скачать пример файла</v-btn>
                                <v-spacer></v-spacer>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
                <v-card outlined >
                    <v-list>
                        <v-list-item>
                            <v-icon large>mdi-upload-outline</v-icon>
                            <v-list-item-content class="d-flex">
                                <v-btn text @click="$refs.fileInput.click()"
                                       :disabled="!case_model.is_active"
                                       max-width="max-content"
                                       class="trigger">Загрузить файл</v-btn>
                                <input style="display: none;"  type="file" ref="fileInput" @change="upload"/>
                                <v-spacer></v-spacer>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
                <div class="v-text-field__details"><div class="v-messages theme--light error--text" role="alert"><div class="v-messages__wrapper"><div class="v-messages__message">{{message}}</div></div></div></div>
            </v-card>
            <v-spacer/>
            <v-card flat class="d-flex flex-column">
                <v-card flat  v-if="formats" >
                    <v-card-title style="height: 100px">Выберите формат загружаемого файла:</v-card-title>
                    <v-radio-group v-model="upload_form.format">
                        <v-radio v-for="(columns, index) in formats[case_model.check_type]" :value="Number.parseInt(index)" :key="index">
                            <template v-slot:label>
                                <v-card class="d-flex d-inline-flex no-shadow">
                                    <v-card v-for="column in columns" :key="column" style="border-radius: 0;background-color: white !important;" class="d-flex flex-column justify-center">
                                        <v-card-subtitle>{{column}}</v-card-subtitle>
                                    </v-card>
                                </v-card>
                            </template>
                        </v-radio>
                    </v-radio-group>
                </v-card>
                <v-container v-if="case_model.check_type === 2" justify-center class="d-inline-flex px-8 my-0 py-0">
                    <v-card outlined style="background-color: white !important; max-width: 785px;" class="px-5 py-1 d-inline-flex">
                        <v-icon large>mdi-alert-circle-outline</v-icon>
                        <v-card-text class="my-0 py-0">
                            Если дело может попасть на разные участки, то в столбце <b>Сайт суд</b> задаем все возможные страницы суда, где может быть дело, через <b>запятую</b>.
                        </v-card-text>
                    </v-card>
                </v-container>
            </v-card>
            </v-container>
        </v-banner>

        <v-container v-if="showResult" class="filter">
            <v-card class="d-flex align-center pa-4 mx-auto no-shadow">
                <div class="text-h6" v-text="`Файл успешно загружен. Идет обработка данных: ` + status.progress_items +'/' + status.items + '.'"/>
                <v-btn @click="update" style="margin-left: 10px">Обновить</v-btn>
            </v-card>
        </v-container>
    </div>
</template>

<script>
    import caseManageService from '@/services/case_manage'
    export default {
        name: "data-tab-upload-banner",
        props: {
            case_model: {
                default: () => {},
                type: Object,
            }
        },
        data: (vm) => {
            return {
                upload_form: {
                    format: 0,
                    file: null,
                },
                uploaded_files: [],
                status: {
                    progress_items: 0,
                    items: 0,
                },
                message: '',
                show: false,
                showResult: false,
                service: caseManageService,
                cid: 'case_'+vm.$route.params.id,
            };
        },
        computed: {
            formats:(vm) => vm.service.getFormats(),
        },
        mounted() {
            this.show = localStorage.caseFileFormShow === 'true';
            this.uploaded_files = (this.$cookie.get(this.cid+'_files_id') || '').split(',')
                .filter(v => Number(v) > 0)
                .map(v => {
                    return {id:v}
                }) || []
            if (this.uploaded_files.length > 0) {
                this.status = {
                    progress_items: this.$cookie.get(this.cid+'_files_progress_items') || 0,
                    items: this.$cookie.get(this.cid+'_files_items')|| 0,
                }
                this.showResult = true
                this.update();
            }
        },
        beforeDestroy() {
            this.saveStatus()
        },
        methods: {
            download () {
                caseManageService.download(this.upload_form.format);
            },
            saveStatus() {
                let count  = this.uploaded_files.length
                let id = this.cid
                if (count > 0) {
                    this.$cookie.set(id +'_files_id','')
                    this.uploaded_files.forEach((v) => {
                        this.$cookie.set(id +'_files_id', this.$cookie.get(id+'_files_id')+','+v.id, { expires: '24h' })
                    })
                    this.$cookie.set(id+'_files_progress_items',this.status.progress_items, { expires: '24h' })
                    this.$cookie.set(id+'_files_items',this.status.items, { expires: '24h' })
                } else {
                    this.$cookie.delete(id+'_files_id')
                }
            },
            upload() {
                this.message = 'Идет загрузка файла...'
                this.upload_form.file = this.$refs.fileInput.files[0];
                this.service.import(this.$route.params.id, this.upload_form)
                    .then(r => {
                        this.message = null;
                        this.showResult = true;
                        this.uploaded_files.push(r.data.data);
                        this.update();
                        this.$emit('upload-end');
                        this.$refs.fileInput.files = (new DataTransfer()).files;
                    })
                    .catch((error) => {
                        let r = error.response;
                        if (!r) {
                            console.log(error)
                            return
                        }
                        if (r.status === 422 && r.data.errors && r.data.errors.file) {
                            this.message = r.data.errors.file[0];
                        } else if (r.status === 400) {
                            this.message = r.data.message;
                        } else if (r.status === 500) {
                            this.message = 'Не удалось загрузить файл.';
                        }
                    });
            },
            update() {
                if (this.uploaded_files.length > 0) {
                    this.$emit('upload-end');
                    this.service.check(this.uploaded_files)
                        .then((r) => {
                            this.status = r.data.data;
                            this.saveStatus()
                            if (this.status.finished) {
                                setTimeout(() =>{
                                    this.showResult = false;
                                    this.uploaded_files = [];
                                }, 5000)
                            }
                        })
                        .catch((e) => {console.log(e)});
                }
            }
        },
        watch: {
            show: {
                handler(newValue) {
                    localStorage.caseFileFormShow = newValue;
                },
                deep:true
            },
            case_model:{
                handler(nv, o) {
                    if (nv.id > 0 && this.formats) {
                        this.upload_form.format = Number.parseInt(Object.keys(this.formats[nv.check_type]).sort((a,b) => Number.parseInt(a) - Number.parseInt(b))[0])
                    }
                },
                deep:true
            }
        }
    }
</script>

<style scoped>
    .v-input--selection-controls{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
</style>