<template>
    <v-container>
        <v-container class="d-flex d-inline-flex">
            <v-checkbox
                    disabled
                    v-model="company_case.is_active"
                    label="Активность"/>
            <v-spacer></v-spacer>
            <v-card class="d-flex align-center justify-center pa-4 mx-auto no-shadow"
            ><div class="text-caption">
                <!--ID портфеля:{{$route.params.id}}-->
            </div>
            </v-card>
        </v-container>
        <v-divider></v-divider>
        <data-tab-upload-banner
                v-if="$store.state.auth.user.user_group >= 64"
                v-on:upload-end="
                    debtorsFilter.updates++
                    courtDebtorsFilter.updates++
                    dealDebtorsFilter.updates++
                    fsspFilter.updates++
                "
                :case_model="company_case"/>
        <v-tabs
                class="debtor-tabs"
                :hide-slider="true"
                v-model="tab"
                align-with-title
        >
            <v-tab class="gray" v-for="(item, key) in tabs" :key="key">
                {{ item }}
            </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <div  v-if="company_case.check_type === 0">
                <v-tab-item :key="false" class="case-data-tab-item">
                    <debtors-tab-filter :[`filter.sync`]="debtorsFilter"/>
                    <debtors-tab ref="refDebtorsTab" :filter="debtorsFilter" :case_model="company_case"/>
                </v-tab-item>
                <v-tab-item :key="true" class="case-data-tab-item">
                    <results-tab-filter :[`filter.sync`]="resultsFilter"/>
                    <results-tab :filter="resultsFilter"/>
                </v-tab-item>
            </div>
            <div v-else-if="company_case.check_type === 1">
                <v-tab-item :key="false" class="case-data-tab-item">
                    <court-debtors-tab-filter :[`filter.sync`]="courtDebtorsFilter"/>
                    <court-debtors-tab ref="refDebtorsTab" :filter="courtDebtorsFilter" :case_model="company_case"/>
                </v-tab-item>
                <v-tab-item :key="true" class="case-data-tab-item" >
                    <court-results-tab-filter :[`filter.sync`]="courtResultsFilter"/>
                    <court-results-tab :filter="courtResultsFilter" :case_model="company_case"/>
                </v-tab-item>
            </div>
            <div v-else-if="company_case.check_type === 2">
                <v-tab-item :key="false" class="case-data-tab-item">
                    <deal-debtors-tab-filter :[`filter.sync`]="dealDebtorsFilter"/>
                    <deal-debtors-tab ref="refDebtorsTab" :filter="dealDebtorsFilter" :case_model="company_case"/>
                </v-tab-item>
                <v-tab-item :key="true" class="case-data-tab-item" >
                    <deal-debtors-tab-filter :resultsMode='true' :[`filter.sync`]="dealResultsFilter"/>
                    <deal-debtors-tab :resultsMode='true' :filter="dealResultsFilter" :case_model="company_case"/>
                </v-tab-item>
            </div>
            <div v-else-if="company_case.check_type === 3">
                <v-tab-item :key="false" class="case-data-tab-item">
                    <fssp-debtors-tab-filter :[`filter.sync`]="fsspFilter"/>
                    <fssp-debtors-tab ref="refDebtorsTab" :filter="fsspFilter" :case_model="company_case"/>
                </v-tab-item>
                <v-tab-item :key="true" class="case-data-tab-item" >
                    <fssp-debtors-tab-filter :resultsMode='true' :[`filter.sync`]="fsspFilter"/>
                    <fssp-debtors-tab :resultsMode='true' :filter="fsspFilter" :case_model="company_case"/>
                </v-tab-item>
            </div>

        </v-tabs-items>

    </v-container>
</template>

<script>
    import ResultsTab from "./results-tab";
    import DebtorsTab from "./debtors-tab";
    import DebtorsTabFilter from "./debtors-tab-filter";
    import DataTabUploadBanner from "./data-tab-upload-banner";
    import ResultsTabFilter from "./results-tab-filter";
    import CourtResultsTabFilter from "./court-results-tab-filter";
    import CourtResultsTab from "./court-results-tab";
    import CourtDebtorsTabFilter from "./court-debtors-tab-filter";
    import CourtDebtorsTab from "./court-debtors-tab";
    import DealDebtorsTabFilter from "./deal-debtors-tab-filter";
    import DealDebtorsTab from "./deal-debtors-tab";
    import FsspDebtorsTab from "./fssp-debtors-tab";
    import FsspDebtorsTabFilter from "./fssp-debtors-tab-filter";
    export default {
        name: "data-tab",
        components: {
            DataTabUploadBanner,
            DebtorsTab,
            DebtorsTabFilter,
            ResultsTab,
            ResultsTabFilter,
            CourtDebtorsTab,
            CourtDebtorsTabFilter,
            CourtResultsTab,
            CourtResultsTabFilter,
            DealDebtorsTab,
            DealDebtorsTabFilter,
            FsspDebtorsTab,
            FsspDebtorsTabFilter,
        },
        props: {
            case_model: Object,
        },
        data: (vm) => {
            return {
                company_case: vm.case_model,
                tabs: ['Загруженные записи','Результат проверки'],
                tab: null,
                debtorsFilter: {
                    updates:0,
                    fio: '',
                    birthday: null,
                    mark: '',
                    regionCode: '',
                },
                resultsFilter: {
                    updates:0,
                    fio: '',
                    birthday: null,
                    ip_number: '',
                    ip_date: null,
                    id_type: '',
                    id_number: '',
                    id_issuer: '',
                    ip_end_date: null,
                    ip_end_reason: '',
                    subject_name: '',
                    subject_amount: '',
                    bailiff_department_name: '',
                    bailiff_fullname: '',
                    region: '',
                },
                courtDebtorsFilter: {
                    updates:0,
                    fio: '',
                    mark: '',
                    address: '',
                },
                courtResultsFilter: {
                    updates:0,
                    fio: '',
                    address: '',
                    court: '',
                    court_address: '',
                    court_phone: '',
                },
                dealDebtorsFilter: {
                    updates:0,
                    fio: '',
                    mark: '',
                    min_deal_init_date: null,
                    max_deal_init_date: null,
                    act_number: null,
                    deal_number: null,
                    court_urls: null,
                    deal_state: null,
                    errors: null,
                },
                dealResultsFilter: {
                    updates:0,
                    fio: '',
                    mark: '',
                    min_deal_init_date: null,
                    max_deal_init_date: null,
                    act_number: null,
                    deal_number: null,
                    court_urls: null,
                    deal_state: null,
                    errors: null,
                },
                fsspFilter: {
                    updates:0,
                    min_deal_date: null,
                    max_deal_date: null,
                    deal_number: null,
                    fio: '',
                    bailiff_department_name: '',
                    bailiff_fullname: '',
                    bailiff_department_address: '',
                    mark: '',
                    deal_state: null,
                    is_closed: null,
                },
            };
        },
        methods: {
            updateDebtors() {
                this.$refs.refDebtorsTab.refresh();
            },
        }
    }
</script>

<style scoped>

</style>