<template>
    <v-container>
        <app-data-table ref="refTable" :filter="filter" :service="service" :headers="headers"
                        :itemsUrl="resultsUrl"
                        :editItem="itemClick"
                        :showSelect="true" :fixedCol="true" :toItem="toItem" :emptyItemText="'-'"
                        v-on:input="checkSelectedItems">
            <template v-slot:body.prepend>
                <debtors-action-panel ref="actionPanel"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      :fssp_check="can_fssp_check"
                                      v-on:fssp_check="vm.toFsspCheck()"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
            <template v-slot:header-settings-menu="{header}">
                <v-menu offset-y v-model="vm.headerMenu" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small
                                v-bind="attrs"
                                v-on="on">mdi-cog-outline</v-icon>
                    </template>
                    <v-card>
                        <v-card-title>Настройка столбцов</v-card-title>
                        <v-card-subtitle style="padding-bottom: 0">
                            <a @click="selectAllColumn()">Выбрать все </a>
                            <a @click="selectAllColumn(true)">Отменить все</a>
                        </v-card-subtitle>
                        <v-container style="width: 650px" class="d-flex d-inline-flex flex-wrap" ref="settingsMenu">
                            <div v-for='(value, column) in vm.columns' style="width: 200px">
                                <input type='checkbox' v-bind:value='column' v-model='vm.checkedColumns'>{{value}}
                            </div>
                        </v-container>
                        <v-card-actions>
                            <v-btn @click="vm.headerMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn @click="applyColumns"
                                   color="success"
                                   class="mr-4"
                            >Применить</v-btn>
                            <v-spacer/>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </template>
            <template v-slot:item-settings-menu="{item}">
                <v-list>
                    <v-list-item @click="vm.deleteModelId = item.id">
                        <v-list-item-title>Удалить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.refresh(item.id)">
                        <v-list-item-title>Обновить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.edit(item)" v-if="item.error">
                        <v-list-item-title>Исправить ошибки</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.download(item.id)">
                        <v-list-item-title>Скачать</v-list-item-title>
                    </v-list-item>
                </v-list>
            </template>
            <template v-slot:body.append>
                <debtors-action-panel ref="actionPanel2"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      :fssp_check="can_fssp_check"
                                      v-on:fssp_check="vm.toFsspCheck()"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
            <template v-slot:link_item="{props, item}">
                <div class="d-flex flex-column">
                    <a v-if="item.value === 'deal_court_urls'" v-for="(link, k) in props.item[item.value].split(',')" :key="k"
                        :href="link" target="_blank">
                        {{link}}
                    </a>
                    <a v-else @click="itemClick(props.item[item.id === undefined ? 'id' : item.id], props.item, item.value)" >{{props.item[item.value]}}</a>
                </div>
            </template>
        </app-data-table>
        <model-delete-dialog ref="deleteDialog" v-if="vm.deleteModelId !== null"
                             v-on:close="vm.deleteModelId=null"
                             v-on:delete="vm.delete"
                             :customTitle="vm.deleteDialog.title"
                             :customText="vm.deleteDialog.text"/>
        <debtor-edit-dialog ref="editDialog"
                            :court_url="true"
                            :editable.sync="dialogItem"
        />
        <debtor-deals-dialog ref="dealsDialog"
                            :editable.sync="dealsDialogItem"
                             @change="filter.updates++"
        />
    </v-container>
</template>

<script>
    import DebtorsActionPanel from "./debtors-action-panel";
    import ModelDeleteDialog from '../../model-delete-dialog'
    import debtorService from '@/services/debtor';
    import DebtorsTab from "./debtors-tab";
    import FileLoader from '@/services/file_loader'
    import DebtorEditDialog from './debtor-edit-dialog'
    import DebtorDealsDialog from './debtor-deals-dialog'
    import CompanyService from '@/services/company'
    import CompanyCaseService from '@/services/company_case'

    export default {
        extends: DebtorsTab,
        components: {
            DebtorsActionPanel,
            ModelDeleteDialog,
            DebtorEditDialog,
            DebtorDealsDialog,
        },
        name: "deal-debtors-tab",
        created() {
            let companyId = this.$route.params.company_id;
            if (companyId != 0)
                CompanyService.get(companyId).then((response) =>{
                    this.can_fssp_check = response?.data?.data?.active_plan?.company_plan?.fssp_check && this.case_model.fssp_check_option;
                });
        },
        data: (vm) => {
            let debtor = {
                id: null,
                mark: '',
                fio: '',
                loaded_address: '',
                courts: [],
            };
            return {
                service: debtorService,
                columns: {},
                checkedColumns: [],
                hiddenColumns: [],
                can_fssp_check: false,
                headers: [
                    {value: "settings", fixed: true, sortable:false},
                    {text: "Метка", value: "mark",fixed:true},
                    {text: "Фио должника", value: "full_name",fixed:false},
                    {text: "Последнее обновление", value: "finished_at",fixed:false},
                    {text: "Ошибки парсинга ", value: "errors",fixed:false},
                ],
                headerMenu: false,
                deleteModelId: null,
                dialogItem: {...debtor},
                dealsDialogItem: {...debtor},
                vm
            };
        },
        methods: {
            toFsspCheck() {
                CompanyCaseService.toFsspCheck(this.$route.params.id, this.$refs.refTable.selected).then((result)=> {
                    this.$router.push(`${CompanyCaseService.getCompanyPath()}/${result.data.data.id}`)
                })
            },
            modifySpecialColumn(v) {
                if (v.value === 'deal_deal_number' || v.value === 'deal_court_urls') {
                    v.link = true
                }
                return v
            },
            toItem(item) {
                item.color = this.getDebtorColorInfo(item)
                item.toItem = this.toItem;
                item.full_name = item.full_name + (item.birthday ? '(' + item.birthday +')' : '')
                let deal = item.deals[0];
                if (deal) {
                    Object.keys(deal).forEach((v) => {
                        item['deal_' + v] = deal[v] && item.deals.length === 1? deal[v] : '';
                        if (v === 'deal_number' && item.deals.length > 1) {
                            item['deal_' + v] = 'Посмотреть все'
                        }
                    })
                }
                item.errors = item.error?.join(', ');
                return item;
            },
            edit(item) {
                this.$refs.editDialog.show = true
                this.dialogItem = item;
            },
            itemClick(id, debtor, field) {
                if (field === 'deal_deal_number') {
                    if (debtor.deals.length > 1) {
                        this.$refs.dealsDialog.show = true
                        this.dealsDialogItem = debtor;
                        return;
                    }
                   if (debtor.deals[0].deal_link){
                        console.log(debtor.deals[0].deal_link)
                        window.open(debtor.deals[0].deal_link, "_blank");
                   }
                }
            }
        },
    }
</script>

<style scoped>

</style>