<template>
    <debtors-tab-filter @filterState="setFilterState">
        <template v-slot:inputs>
            <v-container class="d-flex flex-row filter flex-wrap filter">
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">
                    <app-date-picker
                            :value="vm.filter.min_deal_init_date"
                            @date="(date) => vm.filter.max_deal_init_date = date"
                            label="Дата подачи с:"
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <app-date-picker
                            :value="vm.filter.max_deal_init_date"
                            @date="(date) => vm.filter.max_deal_init_date = date"
                            label="Дата подачи до:"
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Номер договора"
                            outlined
                            v-model="vm.filter.act_number"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Номер дела"
                            outlined
                            v-model="vm.filter.deal_number"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="ФИО"
                            outlined
                            v-model="vm.filter.fio"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Сайт суда"
                            outlined
                            v-model="vm.filter.court_urls"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>

                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">
                    <v-combobox
                            hide-selected
                            outlined
                            :items="statesList"
                            v-model="filter.deal_state"
                            label="Статус дела"
                            dense
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">
                    <v-combobox
                            hide-selected
                            outlined
                            :items="errorsList"
                            v-model="filter.errors"
                            label="Ошибки парсинга"
                            dense
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Метка"
                            outlined
                            v-model="filter.mark"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-spacer></v-spacer>
                <v-card
                        class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                        tile>
                    <v-btn
                            class="mr-4"
                            @click="clearFilter"
                            :disabled="!canClearFilter()"
                    >Сбросить
                    </v-btn>
                </v-card>
            </v-container>
        </template>
    </debtors-tab-filter>
</template>

<script>
    import DebtorsTabFilter from './debtors-tab-filter';

    export default {
        components: {DebtorsTabFilter},
        extends: DebtorsTabFilter,
        name: "deal-debtors-tab-filter",
        props: {
            resultsMode: {
                type: Boolean,
                default: false
            }
        },
        data: (vm) => {
            return {
                show: false,
                filter: vm['filter.sync'],
                errorsList: [{value: null, text: 'Любые'}, {value: 0, text: 'Без ошибок'}, {
                    value: 1,
                    text: 'С ошибками'
                }],
                statesList: [{value: null, text: 'Любые'}, {value: 0, text: 'Не завершенные'}, {
                    value: 1,
                    text: 'Завершенные'
                }],
                vm
            };
        },
        methods: {
            getFilterState() {
                return this.resultsMode
                    ? localStorage.dealResultsTabFilterState === 'true'
                    : localStorage.dealDebtorsTabFilterState === 'true'
            },
            setFilterState(newState) {
                if (this.resultsMode)
                    localStorage.dealResultsTabFilterState = newState
                else
                    localStorage.dealDebtorsTabFilterState = newState
            },
            canClearFilter() {
                let canClear = false;
                Object.keys(this.filter).forEach((v, k)=> {
                    canClear = canClear || this.filter[v];
                });
                return canClear;
            },
            clearFilter() {
                Object.keys(this.filter).forEach((v, k) => {
                    this.filter[v] = '';
                });
            },
        },
    }
</script>

<style>
    .filter .mdi-calendar{
        z-index: 100 ;
    }
</style>