<template>
    <v-row justify="center" style="background-color: white !important;">
        <v-dialog
                v-model="show"
                max-width="600"
                @click:outside="close"
        >
            <v-card>
                <v-card-title class="headline text-center" ><slot name="title">Редактирование данных</slot></v-card-title>
                <v-card-text >
                    <v-card elevation="0" class="d-flex flex-column" justify-center>

                        <v-text-field
                                v-model="editable.mark"
                                label="Метка"
                                required
                                disabled
                                type="text"
                        ></v-text-field>

                        <v-text-field
                                v-model="fio"
                                :error-messages="errors.fio"
                                label="Полное ФИО должника*"
                                required
                                type="text"
                        ></v-text-field>

                        <v-text-field
                                :value="editable.fio"
                                label="ФИО должника"
                                disabled
                                type="text"
                        ></v-text-field>

                        <v-text-field
                                v-if="address"
                                v-model="editable.loaded_address"
                                :error-messages="errors.loaded_address"
                                label="Адрес должника*"
                                required
                                type="text"
                        ></v-text-field>
                        <v-text-field
                                v-if="court_url"
                                v-model="editable.court_url"
                                :error-messages="errors.court_url"
                                label="Сссылка на сайт суда*"
                                required
                                type="text"
                        ></v-text-field>
                        <div v-if="editable.error">
                            Обнаруженные ошибки: {{editable.error.join(', ')}}
                        </div>
                    </v-card>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="close">
                        Отмена
                    </v-btn>
                    <v-btn @click="update"
                           class="mr-4 dark-btn"
                    >Сохранить</v-btn>
                    <v-spacer/>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import debtorService from '@/services/debtor';
    export default {
        name: "debtor-edit-dialog",
        props: {
            editable: {
                type: Object
            },
            address: {
                type: Boolean,
                default: false
            },
            court_url: {
                type: Boolean,
                default: false
            },
        },
        data: (vm) => {
            return {
                show: false,
                fio: '',
                errors: {
                    loaded_address: '',
                    fio: '',
                },
            }
        },
        methods: {
            close() {
                this.show = false
            },
            update() {
                let data = this.editable;
                data.fio = this.fio;
                debtorService.update(data).then((r) => {
                    this.errors.fio = ''
                    this.errors.loaded_address = ''
                    Object.keys(r.data.data).forEach((k) => {
                        this.editable[k] = r.data.data[k];
                    })
                    this.editable.toItem(this.editable);
                    this.setFio();
                    this.close()
                }).catch((e)=> {
                    console.log(e);
                    if (e.response?.status === 422) {
                        this.errors.fio = e.response.data.errors.fio
                        this.errors.loaded_address = e.response.data.errors.loaded_address
                        this.errors.court_url = e.response.data.errors.court_url
                    }
                } )
            },
            setFio() {
                this.fio = (this.editable.check_name  && this.editable.dadata_fio? this.editable.dadata_fio.result.result:  this.editable.fio)
            }
        },
        watch: {
            editable(nv) {
                this.setFio();
            }
        }
    }
</script>

<style scoped>

</style>