<template>
    <v-container>
        <app-data-table ref="refTable" :filter="filter" :service="service" :headers="headers"
            :showSelect="true" :fixedCol="true" :toItem="toItem" :emptyItemText="'-'"
            :itemsUrl="resultsUrl"
                        v-on:input="checkSelectedItems">
            <template v-slot:body.prepend>
                <debtors-action-panel ref="actionPanel"
                                          :manageActions="$store.state.auth.user.user_group >= 64"
                                          v-on:download="vm.download()"
                                          v-on:reverse="vm.reverse()"
                                          v-on:refresh="vm.refresh()"
                                          v-on:delete="vm.deleteModelId=true"/>
            </template>
            <template v-slot:header-settings-menu="{header}">
                <v-menu offset-y v-model="vm.headerMenu" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small
                                v-bind="attrs"
                                v-on="on">mdi-cog-outline</v-icon>
                    </template>
                    <v-card>
                        <v-card-title>Настройка столбцов</v-card-title>
                        <v-card-subtitle style="padding-bottom: 0">
                            <a @click="selectAllColumn()">Выбрать все </a>
                            <a @click="selectAllColumn(true)">Отменить все</a>
                        </v-card-subtitle>
                        <v-container style="width: 650px" class="d-flex d-inline-flex flex-wrap" ref="settingsMenu">
                            <div v-for='(value, column) in vm.columns' style="width: 200px">
                                <input type='checkbox' v-bind:value='column' v-model='vm.checkedColumns'>{{value}}
                            </div>
                        </v-container>
                        <v-card-actions>
                            <v-btn @click="vm.headerMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn @click="applyColumns"
                                   color="success"
                                   class="mr-4"
                            >Применить</v-btn>
                            <v-spacer/>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </template>
            <template v-slot:item-settings-menu="{item}">
                <v-list>
                    <v-list-item @click="vm.deleteModelId = item.id">
                        <v-list-item-title>Удалить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.refresh(item.id)">
                        <v-list-item-title>Обновить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.download(item.id)">
                        <v-list-item-title>Скачать</v-list-item-title>
                    </v-list-item>
                </v-list>
            </template>
            <template v-slot:body.append>
                <debtors-action-panel ref="actionPanel2"
                                          :manageActions="$store.state.auth.user.user_group >= 64"
                                          v-on:download="vm.download()"
                                          v-on:reverse="vm.reverse()"
                                          v-on:refresh="vm.refresh()"
                                          v-on:delete="vm.deleteModelId=true"/>
            </template>
        </app-data-table>
        <model-delete-dialog ref="deleteDialog" v-if="vm.deleteModelId !== null"
                             v-on:close="vm.deleteModelId=null"
                             v-on:delete="vm.delete"
                             :customTitle="vm.deleteDialog.title"
                             :customText="vm.deleteDialog.text"/>
    </v-container>
</template>

<script>
    import DebtorsActionPanel from "./debtors-action-panel";
    import ModelDeleteDialog from '../../model-delete-dialog'
    import debtorService from '@/services/debtor';
    import FileLoader from '@/services/file_loader'
    import company_case from "../../../services/company_case";
    export default {
        components: {
            DebtorsActionPanel,
            ModelDeleteDialog,
        },
        name: "debtors-tab",
        props: {
            case_model: Object,
            filter: Object,
            resultsMode: {
                type:Boolean,
                default: false,
            },
        },
        data: (vm) => {
            return {
                company_case: vm.case_model,
                deleteDialog: {
                    title: 'Удаление записей',
                    text: 'Подтвердите удаление выбранных записей на странице.',
                },
                service: debtorService,
                resultsUrl: vm.resultsMode ? debtorService.getCasePath() + '/results' : null,
                columns: {},
                checkedColumns: [],
                hiddenColumns: [],
                headers: [
                    {value: "settings", fixed: true, sortable:false},
                    {text: "Метка", value: "mark",fixed:true},
                    {text: "Фио должника", value: "name",fixed:true},
                    {text: "Дата рождения", value: "birthday", },
                    {text: "Код региона", value: "regionCode"},
                ],
                headerMenu: false,
                deleteModelId: null,
                serviceColumnsName: 'debtor_columns',
                vm
            };
        },
        mounted() {
            this.service.loadMeta().then(this.addSometimeColumns);
        },
        methods: {
            modifySpecialColumn(column) {return column},
            addSometimeColumns(name) {
                let columns = this.service.getColumns()[name || this.serviceColumnsName];
                if(columns) {
                    let last = this.headers.filter((v)=> (v.sort > 0)).sort((v,v2) => Number.parseInt(v.sort)-Number.parseInt(v2.sort));
                    let h = this.headers.filter((v)=> !(v.sort > 0));
                    columns.forEach((v,k) => {
                        this.modifySpecialColumn(v);
                        h.push(v);
                        this.columns[v.value] =  v.text;
                        this.checkedColumns.push(v.value);
                    });
                    last.forEach((v,k) => h.push(v));
                    this.headers = h;
                }
            },
            applyColumns() {
                let newHeaders = [];
                let nowHidden = this.hiddenColumns;
                this.hiddenColumns = [];
                nowHidden.forEach((v,k) => {
                    if (this.headers[k]) this.headers.push(v);
                    else this.headers[k] = v;
                });
                this.headers.concat(nowHidden).forEach((v,k) => {
                    if (this.checkedColumns.find((o) => {return o === v.value;}) !== undefined
                        || this.columns[v.value] === undefined) {
                        newHeaders[k]=v;
                    } else {
                        this.hiddenColumns[k] = v
                    }
                });
                this.headers = newHeaders;
                this.headerMenu = false;
            },
            prepareIds(ids) {
                if (!(ids instanceof Array) && ids  > 0 && ids !== true) {
                    ids = [ids];
                } else if (ids === undefined) {
                    ids = [];
                    this.$refs.refTable.selected.forEach((v) => {
                        ids.push(v.id)
                    });
                }
                return ids;
            },
            delete(id) {
                let ids =  this.prepareIds(id);
                this.service.delete(ids).then((r) => {
                    this.filter.updates++
                });
                this.deleteModelId = null;
                this.checkSelectedItems();
            },
            refresh(id) {
                let ids = this.prepareIds(id);
                // if (this.checkRefreshAvailable())
                    this.service.refresh(ids).then((r) => {
                        this.filter.updates++;
                        this.company_case.checked_available_timestamp = r.data.data.checked_available_timestamp;
                        this.$refs.refTable.selected = [];
                    }).catch(e => {
                        if (e.response && e.response.status === 400 && e.response.data.message) {
                            this.$root.$children[0].snackbarText = e.response.data.message;
                            this.$root.$children[0].snackbar = true;
                        }
                    });
            },
            download(id) {
                let ids = this.prepareIds(id);
                let filter = {...this.filter, export: true};
                if (ids) filter['ids'] = ids;
                FileLoader.download(this.service.getCasePath(), filter);
            },
            toItem(item) {
                item.color = this.getDebtorColorInfo(item)
                item.name = item.lastname + ' ' + item.name + ' ' + item.secondname;
                return item;
            },
            reverse() {
                let selected = [];
                this.$refs.refTable.tableItems.forEach((v,k) => {
                    if (this.$refs.refTable.selected.find((v2) => v2.id === v.id) === undefined) {
                        selected.push(v);
                    }
                });
                this.$refs.refTable.selected = selected;
            },
            selectAllColumn(reverse) {
                if (reverse) this.checkedColumns = [];
                else Object.keys(this.columns).forEach((v) => {
                    this.checkedColumns.push(v);
                });
            },
            checkRefreshAvailable() {
                return this.$parent.$parent.$parent.$parent.$parent.$parent.updateAvailable();
            },
            checkSelectedItems() {
                let noSelection = this.$refs.refTable.selected.length === 0 && this.$refs.refTable.tableItems.length > 0;
                let available = this.checkRefreshAvailable();
                this.$refs.actionPanel.reversable = noSelection;
                this.$refs.actionPanel2.reversable = noSelection;
                this.$refs.actionPanel.deletable = noSelection;
                this.$refs.actionPanel2.deletable = noSelection;
                this.$refs.actionPanel.fssp_check_enabled = noSelection;
                this.$refs.actionPanel2.fssp_check_enabled = noSelection;
                this.$refs.actionPanel.coutrs_check_enabled = noSelection;
                this.$refs.actionPanel2.coutrs_check_enabled = noSelection;
                this.$refs.actionPanel.refreshable = noSelection || !available;
                this.$refs.actionPanel2.refreshable = noSelection || !available;
            },
            getDebtorColorInfo(item) {
                let onlyBadFioError = item.error && item.error.length === 1 && item.check_name
                if (item.error && !item.finished_at && !onlyBadFioError)
                    return {
                        color: 'gray',
                        text: 'Недопустимые данные, ошибка обработки'
                    }
                if (item.finished_at) {
                    let color = 'green'
                    let text= 'Запись обработана'
                    if (item.error) {
                        color = 'lightgreen'
                        text = 'Запись обработана (проверьте данные)'
                    }
                    return {
                        color,
                        text,
                    }
                }
                return {
                    color: 'red',
                    text: 'Запись еще не обработана',
                }
            },
        },
    }
</script>

<style scoped>

</style>