<template>
    <v-row>
        <v-chip outlined
                class="ma-2" @click="$emit('reverse')" :disabled="reversable">
            <v-icon left>mdi-window-close</v-icon>
            Инвертировать выбор
        </v-chip>
        <v-chip outlined v-if="manageActions"
                class="ma-2" @click="$emit('delete')" :disabled="deletable">
            <v-icon left>mdi-window-close</v-icon>
            Удалить
        </v-chip>
        <v-chip outlined v-if="manageActions"
                class="ma-2" @click="$emit('refresh')" :disabled="refreshable">
            <v-icon left>mdi-cached</v-icon>
            Обновить
        </v-chip>
        <v-chip outlined
                class="ma-2" @click="$emit('download')">
            <v-icon left>mdi-download-outline</v-icon>
            Скачать
        </v-chip>
        <!--<v-chip outlined-->
                <!--class="ma-2" @click="$emit('download', [])">-->
            <!--<v-icon left>mdi-download-outline</v-icon>-->
            <!--Скачать все-->
        <!--</v-chip>-->
        <v-chip outlined
                v-if="fssp_check"
                class="ma-2" @click="$emit('fssp_check')"
                :disabled="fssp_check_enabled"
        >
            <v-icon left>mdi-paperclip</v-icon>
            Проверить по ФССП
        </v-chip>
        <v-chip outlined
                v-if="coutrs_check"
                class="ma-2" @click="$emit('coutrs_check')"
                :disabled="coutrs_check_enabled"
        >
            <v-icon left>mdi-paperclip</v-icon>
            Проверить по судам
        </v-chip>
    </v-row>
</template>

<script>
    export default {
        name: "debtors-action-panel",
        props: {
            manageActions: {
                type: Boolean,
                default: false,
            },
            fssp_check: {
                type: Boolean,
                default: false,
            },
            coutrs_check: {
                type: Boolean,
                default: false,
            },
        },
        data: (vm) => {
            return {
                reversable: true,
                fssp_check_enabled: true,
                coutrs_check_enabled: true,
                deletable: true,
                refreshable: true,
            };
        }
    }
</script>

<style scoped>

</style>