<template>
    <div class="gray">
        <v-container class="d-flex d-inline-flex justify-center  align-center filter">
            <v-card class="d-flex align-center justify-center pa-4 mx-auto no-shadow">
                <div class="text-h6 gray" v-text="`Фильтр`"/>
            </v-card>
            <v-spacer></v-spacer>
            <v-btn icon @click="show = !show">
                <v-icon large v-if="!show">mdi-chevron-down</v-icon>
                <v-icon large v-else>mdi-chevron-up</v-icon>
            </v-btn>
        </v-container>
        <v-banner
                v-model="show"
                single-line
                transition="slide-y-transition">
            <slot name="inputs">
                <v-container
                    class="d-flex d-inline-flex filter">
                    <v-card
                            class="d-flex justify-space-between mb-6 no-shadow"
                            flat
                            tile
                    >
                        <v-card
                                tile
                                class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                                style="max-width: 200px;">

                            <v-text-field
                                    name="input-10-2"
                                    placeholder="Метка"
                                    outlined
                                    v-model="filter.mark"
                                    hide-details
                                    dense
                            ></v-text-field>
                        </v-card>
                        <v-card
                                tile
                                class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                                style="max-width: 200px;">

                            <v-text-field
                                    name="input-10-2"
                                    placeholder="ФИО должника"
                                    outlined
                                    v-model="filter.fio"
                                    hide-details
                                    dense
                            ></v-text-field>
                        </v-card>
                        <v-card
                                tile
                                class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                                style="max-width: 200px;">

                            <app-date-picker
                                    :value="filter.birthday"
                                    @date="(date) => filter.birthday = date"
                                    label="Дата рождения:"
                            />
                        </v-card>
                        <v-card
                                class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                                tile
                        >
                            <v-text-field
                                    name="input-10-2"
                                    placeholder="Регион"
                                    outlined
                                    v-model="filter.regionCode"
                                    hide-details
                                    dense
                            ></v-text-field>

                        </v-card>
                        <v-card
                                class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                                tile>
                            <v-btn
                                    class="mr-4"
                                    @click="clearFilter"
                                    :disabled="!canClearFilter()"
                            >Сбросить</v-btn>
                        </v-card>
                    </v-card>
                </v-container>
            </slot>
        </v-banner>
    </div>
</template>

<script>
    export default {
        name: "debtors-tab-filter",
        props: {
            'filter.sync': {
                type: Object,
                default: () => {
                    return {
                        updates:0,
                        fio: '',
                        birthday: null,
                        mark: '',
                        regionCode: '',
                    }
                }
            }
        },
        data: (vm) => {
            return {
                show: false,
                filter: vm['filter.sync'],
            };
        },
        mounted() {
            this.show = this.$parent?.$parent?.$parent?.$parent?.company_case?.check_type > 0
                ? this.$parent?.getFilterState()
                : this.getFilterState();
        },
        methods: {
            getFilterState() {
                return localStorage.debtorsTabFilterState === 'true';
            },
            setFilterState(newState) {
                localStorage.debtorsTabFilterState = newState;
            },
            canClearFilter() {
                return this.filter.fio || this.filter.birthday || this.filter.mark || this.filter.regionCode;
            },
            clearFilter() {
                this.filter.fio = '';
                this.filter.birthday = null;
                this.filter.mark = '';
                this.filter.regionCode = '';
                this.filter.updates++
            },
        },
        watch: {
            show: {
                handler(newValue) {
                    if(this.$parent?.$parent?.$parent?.$parent?.company_case?.check_type > 0)
                        this.$emit('filterState', newValue)
                    else this.setFilterState(newValue);
                },
                deep:true
            }
        }
    }
</script>

<style scoped>

</style>