<template>
    <v-row justify="center" style="background-color: white !important;">
        <v-dialog
                v-model="show"
                max-width="600"
                @click:outside="close"
        >
            <v-card>
                <v-card-title class="headline text-center" ><slot name="title">Выбирете дело</slot></v-card-title>
                <v-card-text v-for="deal in editable.deals" :key="deal.id" class="mb-0 pb-0">
                    <v-radio-group v-model="dealToSave">

                        <v-radio
                                :key="deal.id"
                                :value="deal.id"
                        >
                            <template v-slot:label>
                                <a :href="deal.deal_link ? deal.deal_link : '#'" class="mr-1" >{{deal.deal_number}}</a>
                                <div v-if="deal.deal_verdict">
                                    Решение: {{deal.deal_verdict + (deal.deal_end_date ? ' (' + deal.deal_end_date + ')' : '')}}
                                </div>
                            </template>
                        </v-radio>
                    </v-radio-group>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="close">
                        Закрыть
                    </v-btn>
                    <v-btn :disabled='!dealToSave' @click="update"
                           class="mr-4 dark-btn"
                    >Сохранить</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import debtorService from '@/services/debtor';
    export default {
        name: "debtor-deals-dialog",
        props: {
            editable: {
                type: Object
            }
        },
        data: (vm) => {
            return {
                show: false,
                dealToSave: null,
            }
        },
        methods: {
            close() {
                this.show = false
            },
            update() {
                debtorService.update({
                    main_deal_id: this.dealToSave,
                    id: this.editable.id,
                })
                    .then((r) => {
                        this.dealToSave= null
                        this.close();
                        this.$emit('change')
                    })
                    .catch((e) => {
                    console.log(e);
                    if (e.response?.status === 422) {
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>