<template>
    <v-row justify="center" style="background-color: white !important;">
        <v-dialog
                v-model="show"
                max-width="600"
                @click:outside="close"
        >
            <v-card>
                <v-card-title class="headline text-center" ><slot name="title">Подходящие суды</slot></v-card-title>
                <v-card-text v-for="court in editable.courts" :key="court.id">
                    <router-link :to="'/region/'+court.region_code+'/court/'+court.court_type+'/'+court.id" >{{court.name}}</router-link>
                    <v-card-text v-if="court.display_area">
                        Территориальная подсудность: {{court.display_area}}
                    </v-card-text>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn @click="close">
                        Закрыть
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import debtorService from '@/services/debtor';
    import Court from "../../courts/court";
    export default {
        name: "debtor-courts-dialog",
        components: {Court},
        props: {
            editable: {
                type: Object
            }
        },
        data: (vm) => {
            return {
                show: false,
            }
        },
        methods: {
            close() {
                this.show = false
            },
        },
        watch: {
            editable() {
                if (this.editable.courts.length) {
                    this.show = false;
                    debtorService.getCourtsArea(this.editable.id).then((r) => {
                        (r.data.data || []).forEach((area) => {
                            this.editable.courts.forEach((court) => {
                                if (court.id === area.court_id) {
                                    court.display_area = (area.locality || '') + ' '
                                        + area.address
                                }
                            });
                        })
                        this.show = true
                    }).catch((e) => {
                        console.log(e);
                        this.show = true
                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>