<template>
    <v-container>
        <app-data-table ref="refTable" :filter="filter" :service="service" :headers="headers"
                        :itemsUrl="resultsUrl"
                        :editItem="itemClick"
                        :showSelect="true" :fixedCol="true" :toItem="toItem" :emptyItemText="'-'"
                        v-on:input="checkSelectedItems">
            <template v-slot:body.prepend>
                <debtors-action-panel ref="actionPanel"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      :coutrs_check="vm.can_deal_check"
                                      v-on:coutrs_check="vm.toCourtsCheck()"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.delete()"/>
            </template>
            <template v-slot:header-settings-menu="{header}">
                <v-menu offset-y v-model="vm.headerMenu" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon small
                                v-bind="attrs"
                                v-on="on">mdi-cog-outline</v-icon>
                    </template>
                    <v-card>
                        <v-card-title>Настройка столбцов</v-card-title>
                        <v-card-subtitle style="padding-bottom: 0">
                            <a @click="selectAllColumn()">Выбрать все </a>
                            <a @click="selectAllColumn(true)">Отменить все</a>
                        </v-card-subtitle>
                        <v-container style="width: 650px" class="d-flex d-inline-flex flex-wrap" ref="settingsMenu">
                            <div v-for='(value, column) in vm.columns' style="width: 200px">
                                <input type='checkbox' v-bind:value='column' v-model='vm.checkedColumns'>{{value}}
                            </div>
                        </v-container>
                        <v-card-actions>
                            <v-btn @click="vm.headerMenu = false">
                                Отмена
                            </v-btn>
                            <v-btn @click="applyColumns"
                                   color="success"
                                   class="mr-4"
                            >Применить</v-btn>
                            <v-spacer/>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </template>
            <template v-slot:item-settings-menu="{item}">
                <v-list>
                    <v-list-item @click="vm.deleteModelId = item.id">
                        <v-list-item-title>Удалить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.refresh(item.id)">
                        <v-list-item-title>Обновить</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="vm.download(item.id)">
                        <v-list-item-title>Скачать</v-list-item-title>
                    </v-list-item>
                </v-list>
            </template>
            <template v-slot:body.append>
                <debtors-action-panel ref="actionPanel2"
                                      :manageActions="$store.state.auth.user.user_group >= 64"
                                      :coutrs_check="vm.can_deal_check"
                                      v-on:coutrs_check="vm.toCourtsCheck()"
                                      v-on:download="vm.download()"
                                      v-on:reverse="vm.reverse()"
                                      v-on:refresh="vm.refresh()"
                                      v-on:delete="vm.deleteModelId=true"/>
            </template>
        </app-data-table>
        <model-delete-dialog ref="deleteDialog" v-if="vm.deleteModelId !== null"
                             v-on:close="vm.deleteModelId=null"
                             v-on:delete="vm.delete"
                             :customTitle="vm.deleteDialog.title"
                             :customText="vm.deleteDialog.text"/>
        <debtor-edit-dialog ref="editDialog"
                            :editable.sync="dialogItem"
        />
        <debtor-deals-dialog ref="dealsDialog"
                             :editable.sync="dealsDialogItem"
                             @change="filter.updates++"
        />
    </v-container>
</template>
<script>
    import DebtorsActionPanel from "./debtors-action-panel";
    import ModelDeleteDialog from '../../model-delete-dialog'
    import debtorService from '@/services/debtor';
    import DebtorsTab from "./debtors-tab";
    import FileLoader from '@/services/file_loader'
    import DebtorEditDialog from './debtor-edit-dialog'
    import DebtorDealsDialog from './debtor-deals-dialog'
    import CompanyService from '@/services/company'
    import CompanyCaseService from '@/services/company_case'

    export default {
        extends: DebtorsTab,
        components: {
            DebtorsActionPanel,
            ModelDeleteDialog,
            DebtorEditDialog,
            DebtorDealsDialog,
        },
        name: "fssp-debtors-tab",
        created() {
            let companyId = this.$route.params.company_id;
            if (companyId != 0)
                CompanyService.get(companyId).then((response) =>{
                    this.can_deal_check = response?.data?.data?.active_plan?.company_plan?.deal_check && this.case_model.deal_check_option;

                });
        },
        data: (vm) => {
            let debtor = {
                id: null,
                mark: '',
                fio: '',
                loaded_address: '',
                courts: [],
            };
            return {
                service: debtorService,
                columns: {},
                checkedColumns: [],
                hiddenColumns: [],
                can_deal_check: false,
                headers: [
                    {value: "settings", fixed: true, sortable:false},
                    {text: "Метка", value: "mark",fixed:true},
                    {text: "Фио должника", value: "full_name",fixed:false},
                    {text: "Дата рождения", value: "birthday",fixed:false},
                    {text: "Последнее обновление", value: "finished_at",fixed:false, sort: 100},
                    {text: "Ошибки парсинга ", value: "errors",fixed:false, sort: 101},
                ],
                headerMenu: false,
                deleteModelId: null,
                dialogItem: {...debtor},
                dealsDialogItem: {...debtor},
                serviceColumnsName: 'fssp_debtor_columns',
                vm
            };
        },
        methods: {
            toCourtsCheck() {
                CompanyCaseService.toDealCheck(this.$route.params.id, this.$refs.refTable.selected).then((result)=> {
                    this.$router.push(`${CompanyCaseService.getCompanyPath()}/${result.data.data.id}`)
                })
            },
            modifySpecialColumn(column) {
                if (column.value === 'check_result_ip_number') {
                    column.link = true
                }
                return column;

            },
            toItem(item) {
                item.color = this.getDebtorColorInfo(item)
                item.toItem = this.toItem;
                let checkRes = item.check_results[0];
                if (checkRes) {
                    Object.keys(checkRes).forEach((v) => {
                        item['check_result_' + v] = checkRes[v] && item.fssp_deals.length === 1? checkRes[v] : '';
                        if (v === 'number' && item.fssp_deals.length > 1) {
                            item['check_result_' + v] = 'Посмотреть все'
                        }
                    })
                }
                if (!item['check_result_ip_number'] && item.fssp_deals.length > 0) {
                    item.check_result_ip_number = item.fssp_deals[0].deal_number;
                }
                if (!item['check_result_id_number'] && item.fssp_deals.length > 0) {
                    item.check_result_id_number = item.fssp_deals[0].fs_number;
                }
                if (checkRes) item.check_result_requisites = checkRes['id_type_name'] + ' '
                        + checkRes['id_date'] + ' №'
                        + checkRes['id_number'] + ' '
                        + checkRes['id_issuer']

                if (checkRes) item.check_result_date_reason = (checkRes.ip_end_date || '') + ' ' + (checkRes.ip_end_reason || '')
                item.errors = item.error?.join(', ');
                return item;
            },
            edit(item) {
                this.$refs.editDialog.show = true
                this.dialogItem = item;
            },
            itemClick(id, debtor, field) {
                if (field === 'check_result_ip_number') {
                   if (debtor[field]){
                        window.open('https://fssp.gov.ru/iss/ip?is%5Bip_preg%5D=&is%5Bvariant%5D=3&is%5Blast_name%5D=&is%5Bfirst_name%5D=&is%5Bpatronymic%5D=&is%5Bdate%5D=&is%5Bdrtr_name%5D=&is%5Baddress%5D=&is%5Bip_number%5D='
                            + encodeURIComponent(debtor[field])
                            +'&is%5Bid_number%5D=&is%5Bid_type%5D=&is%5Bid_issuer%5D=&is%5Bregion_id%5D%5B0%5D=-1', "_blank");
                   }
                }
            }
        },
    }
</script>

<style scoped>

</style>