<template>
    <debtors-tab-filter @filterState="setFilterState">
        <template v-slot:inputs>
            <v-container class="d-flex flex-row filter flex-wrap filter">
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <app-date-picker
                            :value="vm.filter.min_deal_date"
                        @date="(date) => vm.filter.min_deal_date = date"
                            label="Дата с:"
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <app-date-picker
                            :value="vm.filter.max_deal_date"
                            @date="(date) => vm.filter.max_deal_date = date"
                            label="Дата до:"
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Номер ИП"
                            outlined
                            v-model="vm.filter.deal_number"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="ФИО должника"
                            outlined
                            v-model="vm.filter.fio"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Название ОСП"
                            outlined
                            v-model="vm.filter.bailiff_department_name"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="ФИО пристава"
                            outlined
                            v-model="vm.filter.bailiff_fullname"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">
                    <v-combobox
                            hide-selected
                            outlined
                            :items="statesList"
                            v-model="filter.deal_state"
                            label="Статус"
                            dense
                    />
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Адрес ОСП"
                            outlined
                            v-model="filter.bailiff_department_address"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-text-field
                            name="input-10-2"
                            label="Метка"
                            outlined
                            v-model="filter.mark"
                            hide-details
                            dense
                    ></v-text-field>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;">

                    <v-checkbox
                            v-model="filter.is_closed"
                            class="ma-1"
                            label="ИП прекращено"
                            :indeterminate="true"
                            :false-value="0"
                            :true-value="1"
                            dense
                            hide-details
                    ></v-checkbox>
                </v-card>
                <v-spacer></v-spacer>
                <v-card
                        class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                        tile>
                    <v-btn
                            class="mr-4"
                            @click="clearFilter"
                            :disabled="!canClearFilter()"
                    >Сбросить
                    </v-btn>
                </v-card>
            </v-container>
        </template>
    </debtors-tab-filter>
</template>

<script>
    import DebtorsTabFilter from './debtors-tab-filter';

    export default {
        components: {DebtorsTabFilter},
        extends: DebtorsTabFilter,
        name: "fssp-debtors-tab-filter",
        props: {
            resultsMode: {
                type: Boolean,
                default: false
            }
        },
        data: (vm) => {
            return {
                filter: vm['filter.sync'],
                errorsList: [{value: null, text: 'Любые'}, {value: 0, text: 'Без ошибок'}, {
                    value: 1,
                    text: 'С ошибками'
                }],
                statesList: [
                    {value: null, text: 'Любые'},
                    {value: 0, text: 'Найдено'},
                    {value: 1, text: 'Не найдено'},
                    {value: 2, text: 'Завершено'},
                    {value: 3, text: 'СД'},
                    {value: 4, text: 'СВ'},
                ],
                vm
            };
        },
        methods: {
            getFilterState() {
                return this.resultsMode
                    ? localStorage.fsspResultsTabFilterState === 'true'
                    : localStorage.fsspDebtorsTabFilterState === 'true'
            },
            setFilterState(newState) {
                if (this.resultsMode)
                    localStorage.setItem('fsspResultsTabFilterState', newState)
                else
                    localStorage.setItem('fsspDebtorsTabFilterState', newState)
            },
            canClearFilter() {
                let canClear = false;
                Object.keys(this.filter).forEach((v, k)=> {
                    canClear = canClear || this.filter[v];
                });
                return canClear;
            },
            clearFilter() {
                Object.keys(this.filter).forEach((v, k) => {
                    this.filter[v] = '';
                });
            },
        },
    }
</script>

<style>
    .filter .mdi-calendar{
        z-index: 100 ;
    }
</style>