<template>
    <debtors-tab-filter @filterState="setFilterState">
        <template v-slot:inputs>
            <v-container class="d-flex flex-column filter">
                <v-card
                    class="d-flex justify-space-between mb-6 no-shadow "
                    flat
                    tile
                >
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="ФИО должника"
                                outlined
                                v-model="vm.filter.fio"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <app-date-picker
                                :value="vm.filter.birthday"
                                @date="(date) => vm.filter.birthday = date"
                                label="Дата рождения:"
                        />
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Номер ИП"
                                outlined
                                v-model="vm.filter.ip_number"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                            tile
                    >
                        <app-date-picker
                                :value="vm.filter.ip_date"
                                @date="(date) => vm.filter.ip_date = date"
                                label="Дата ИП:"
                        />

                    </v-card>
                    <v-card
                            class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                            tile>
                        <v-text-field
                                name="input-10-2"
                                label="Вид, дата принятия ИД"
                                outlined
                                v-model="vm.filter.id_type"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                </v-card>
                <v-card
                        class="d-flex justify-space-between mb-6 no-shadow"
                        flat
                        tile
                >
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Номер ИД"
                                outlined
                                v-model="vm.filter.id_number"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Орган, выдавший ИД"
                                outlined
                                v-model="vm.filter.id_issuer"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <app-date-picker
                                :value="vm.filter.ip_end_date"
                                @date="(date) => vm.filter.ip_end_date = date"
                                label="Дата окончания ИП:"
                        />
                    </v-card>
                    <v-card
                            class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                            tile
                    >
                        <v-text-field
                                name="input-10-2"
                                label="Причина окончания ИП"
                                outlined
                                v-model="vm.filter.ip_end_reason"
                                hide-details
                                dense
                        ></v-text-field>

                    </v-card>
                    <v-card
                            class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                            tile>
                        <v-text-field
                                name="input-10-2"
                                label="Предмет исполнения"
                                outlined
                                v-model="vm.filter.subject_name"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                </v-card>
                <v-card
                        class="d-flex justify-space-between mb-6 no-shadow"
                        flat
                        tile
                >
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Сумма непогашенной задолженности"
                                outlined
                                v-model="vm.filter.subject_amount"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="Отдел судебных приставов"
                                outlined
                                v-model="vm.filter.bailiff_department_name"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            tile
                            class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                            style="max-width: 200px;">

                        <v-text-field
                                name="input-10-2"
                                label="ФИО пристава-исполнителя"
                                outlined
                                v-model="vm.filter.bailiff_fullname"
                                hide-details
                                dense
                        ></v-text-field>
                    </v-card>
                    <v-card
                            class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                            tile
                    >
                        <v-text-field
                                name="input-10-2"
                                label="Регион"
                                outlined
                                v-model="vm.filter.region"
                                hide-details
                                dense
                        ></v-text-field>

                    </v-card>
                    <v-card
                            class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                            tile>
                        <v-btn
                                class="mr-4"
                                @click="clearFilter"
                                :disabled="!canClearFilter()"
                        >Сбросить</v-btn>
                    </v-card>
                </v-card>
            </v-container>
        </template>
    </debtors-tab-filter>
</template>

<script>
    import DebtorsTabFilter from './debtors-tab-filter';
    export default {
        components: {DebtorsTabFilter},
        extends: DebtorsTabFilter,
        name: "results-tab-filter",
        data: (vm) => {
            return {
                show: false,
                filter: vm['filter.sync'],
                vm
            };
        },
        methods: {
            getFilterState() {
                return localStorage.debtorResultsTabFilterState === 'true';
            },
            setFilterState(newState) {
                localStorage.debtorResultsTabFilterState = newState;
            },
            canClearFilter() {
                let canClear = false;
                Object.keys(this.filter).forEach((v, k)=> {
                    canClear = canClear || this.filter[v];
                });
                return canClear;
            },
            clearFilter() {
                Object.keys(this.filter).forEach((v, k) => {
                    this.filter[v] = (v === 'birthday' || v === 'ip_date' || v === 'ip_end_date') ? null : '';
                });
            },
        },
    }
</script>

<style scoped>

</style>