<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
                <v-toolbar-title align="center" justify="center">Восстановление пароля</v-toolbar-title>
                <v-card-text>
                    Введите новый пароль в поле «Новый пароль», затем введите его повторно в поле “Новый пароль повторно”
                </v-card-text>
                <v-form @keyup.native.enter="attemptResetPassword">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                    v-model="password"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="[rules.required, rules.passwordMatch]"
                                    :type="show ? 'text' : 'password'"
                                    name="password"
                                    label="Новый пароль"
                                    v-bind="attrs"
                                    v-on="on"
                                    @click:append="show = !show"
                            ></v-text-field>
                        </template>
                        <span>{{'Не меньше ' + $store.state.passwordLength + ' символов'}}</span>
                    </v-tooltip>
                    <v-text-field
                            v-model="passwordConfirmation"
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.passwordConfirmationMatch]"
                            :type="show2 ? 'text' : 'password'"
                            name="password_confirmation"
                            label="Новый пароль повторно"
                            @click:append="show2 = !show2"
                    ></v-text-field>
                    <v-card
                            class="d-flex justify-center align-center mb-6 reset-save-btn"
                            flat
                            height="auto"
                            tile
                    >
                    <v-btn color="primary" :disabled="!isFromValid" @click="attemptReset">
                        Сохранить
                    </v-btn>
                    </v-card>
                    <v-card
                            class="d-flex justify-center align-center mb-6"
                            flat
                            height="auto"
                            tile
                    >

                        <v-dialog
                                transition="dialog-top-transition"
                                max-width="600"
                                ref="resetResultDialog"
                                v-model="resetResult"
                        >

                            <template v-slot:default="resetResultDialog">
                                <v-card>

                                    <v-toolbar>

                                        <v-row
                                                no-gutters
                                                style="flex-wrap: nowrap;"
                                        >
                                            <v-col
                                                    cols="1"
                                                    style="min-width: 100px; max-width: 100%;"
                                                    class="flex-grow-1 flex-shrink-0"
                                            >
                                                <v-list-item
                                                        class=" justify-center"
                                                        outlined
                                                        tile
                                                >
                                                    <v-card-title>
                                                        <span class="headline">{{resultTitle}}</span>
                                                    </v-card-title>
                                                </v-list-item>
                                            </v-col>
                                        </v-row>
                                    </v-toolbar>
                                    <v-card-text>
                                        <v-container>
                                            <v-col>
                                                <v-card-text justify="center" align="center">
                                                    {{resultMessage}}
                                                </v-card-text>
                                                <v-divider></v-divider>

                                                <v-card-actions  justify="center" >
                                                    <v-spacer></v-spacer>
                                                    <v-btn to="/"
                                                            color="dark"
                                                            @click="resetResult = false"
                                                    >Перейти на главную страницу</v-btn>
                                                    <v-spacer></v-spacer>
                                                </v-card-actions>
                                            </v-col>
                                        </v-container>
                                    </v-card-text>
                                </v-card>
                            </template>
                        </v-dialog>


                    </v-card>
                </v-form>
            </v-col>
        </v-row>
    </v-container>


</template>

<script>
    export default {
        name: 'ResetPasswordPage',
        data: (vm) => ({
                password: '',
                passwordConfirmation: '',
                resetResult: false,
                resultTitle: '',
                resultMessage: 'Введите новый пароль в поле «Новый пароль», затем введите его повторно в поле “Новый пароль повторно”',
                show: false,
                show2: false,
                rules: {
                    required: value => !!value || 'Обязательно для заполнения.',
                    passwordMatch: v => (v.length >= vm.$store.state.passwordLength)
                        || (`Пароли не указаны, не совпадают или содержит менее ` + vm.$store.state.passwordLength + ` символов`),
                    passwordConfirmationMatch: v => (v.length >= vm.$store.state.passwordLength && vm.password === vm.passwordConfirmation)
                        || (`Пароли не указаны, не совпадают или содержит менее ` + vm.$store.state.passwordLength + ` символов`),
                },

            }
        ),
        mounted() {
            this.$store.dispatch('auth/toggleLoggingOut', false);
        },
        computed: {

            isFromValid : function() {
                return this.rules.passwordMatch(this.password) === true && this.rules.passwordConfirmationMatch(this.passwordConfirmation) === true;
            },
        },
        methods: {
            async attemptReset() {
                let vm = this;
                vm.resetResult = true;
                await this.$store.dispatch('auth/resetPassword', {'pwd': this.password, 'pwd2': this.passwordConfirmation})
                    .then((res) => {
                        vm.resultTitle = 'Пароль успешно изменен';
                        vm.resultMessage = 'Сейчас вы будете перенаправлены на главную страницу сервиса.';
                    })
                    .catch((err,res) =>{
                        vm.resultTitle = 'Ошибка';
                        vm.resultMessage = 'Произошла ошибка, пожалуйста потворите попытку.';
                    } );
            },

        },
    };
</script>

<style scoped>

</style>