<template>
    <model-edit-page
        :backLink="backLink"
        :historyApiLink="historyApiLink"
        :model="company"
        :title="title"
        :service="service"
        :modelHandler="companyHandler"
        :historyHeaders="historyHeaders"
        :hisToItem="hisToItem"
    >

        <template v-slot:edit-form="props">
            <v-checkbox
                    v-model="props.editable.is_active"
                    label="Активность"
            ></v-checkbox>
            <v-divider></v-divider>
            <v-spacer></v-spacer>
            <v-card-title>Основная информация</v-card-title>
            <v-text-field
                    v-model="props.editable.name"
                    :error-messages="props.vm.errors.name"
                    label="Наименование*"
                    required
                    type="text"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.sort"
                    :error-messages="props.vm.errors.sort"
                    label="Сортировка"
                    type="number"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.subdomain"
                    :error-messages="props.vm.errors.subdomain"
                    label="Поддомен*"
                    :disabled="props.editable.id > 0"
                    type="text"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.discount"
                    :error-messages="props.vm.errors.discount"
                    label="Скидка"
                    prefix="%"
                    type="number"
                    min="0"
                    max="100"
            ></v-text-field>
            <v-combobox
                    clearable
                    hide-selected
                    outlined
                    :items="loadMeta() || plans"
                    v-model="props.editable.company_plan_id"
                    :error-messages="props.vm.errors.company_plan_id"
                    label="Выберите тариф*"
                    dense
            />
            <v-row justify="space-between" class="d-flex align-center plan_times" v-if="props.editable.company_plan_id !== null">
                <v-col cols="12" md="4">
                    <v-menu
                            v-model="date_from"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                    v-model="props.editable.active_at"
                                    :error-messages="props.vm.errors.active_at"
                                    label="Действует с*"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                                v-model="props.editable.active_at"
                                @input="date_from = false"
                                locale="ru-Latn"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="2" class="time-details">
                    <v-menu
                            ref="time_from"
                            v-model="time_from"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="props.editable.active_at_time"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                    v-model="props.editable.active_at_time"
                                    label=""
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                            ></v-text-field>
                        </template>
                        <v-time-picker
                                v-if="time_from"
                                v-model="props.editable.active_at_time"
                                full-width
                                @click:minute="$refs.time_from.save(props.editable.active_at_time)"
                                format="24hr"
                        ></v-time-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="4">
                    <v-menu
                            v-model="date_to"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                    v-model="props.editable.expired_at"
                                    :error-messages="props.vm.errors.expired_at"
                                    label="Действует по"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                                v-model="props.editable.expired_at"
                                @input="date_to = false"
                                locale="ru-Latn"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="2" class="time-details">
                    <v-menu
                            ref="time_to"
                            v-model="time_to"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="props.editable.expired_at_time"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                    v-model="props.editable.expired_at_time"
                                    label=""
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                            ></v-text-field>
                        </template>
                        <v-time-picker
                                v-if="time_to"
                                v-model="props.editable.expired_at_time"
                                full-width
                                @click:minute="$refs.time_to.save(props.editable.expired_at_time)"
                                format="24hr"
                        ></v-time-picker>
                    </v-menu>
                </v-col>
            </v-row>
            <v-row justify="space-between" class="d-flex align-center" v-if="props.editable.id > 0">
                <v-col cols="12" :md="props.editable.user_exists ? 12 : 10">
                    <v-text-field
                            v-model="props.editable.user.email"
                            label="Представитель (Email)"
                            :error-messages="props.vm.errors.id"
                            :rules="rules.user"
                            type="email"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="!(props.editable.user_exists)">
                    <v-btn icon @click="createUser" :disabled="!props.editable.user.email"><v-icon>mdi-account-plus-outline</v-icon></v-btn>
                </v-col>
            </v-row>
            <v-spacer></v-spacer>
            <v-card-title>Информация о компании</v-card-title>
            <v-col v-if="props.editable.logo && props.editable.logo.toString() === props.editable.logo">
                <div class="subheading">Логотип</div>
                <v-img height="100px"
                       contain
                       :src="'/storage/'+ props.editable.logo"
                ></v-img>
            </v-col>
            <v-file-input v-else
                    v-model="props.editable.logo"
                    :error-messages="props.vm.errors.logo"
                    label="Логотип"
                    small-chips
                    prepend-icon="mdi-camera"
            ></v-file-input>
            <v-text-field
                    v-model="props.editable.contact_user_name"
                    :error-messages="props.vm.errors.contact_user_name"
                    label="Контактное лицо"
                    type="text"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.phone"
                    label="Телефон"
                    v-mask="'\+7##########'"
                    :error-messages="props.vm.errors.phone"
                    type="phone"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.email"
                    label="Email"
                    :error-messages="props.vm.errors.email"
                    type="email"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.url"
                    label="Адрес сайта"
                    :error-messages="props.vm.errors.url"
                    type="text"
            ></v-text-field>
            <v-textarea
                    v-model="props.editable.requisites"
                    :error-messages="props.vm.errors.requisites"
                    label="Реквизиты"
            ></v-textarea>
        </template>
    </model-edit-page>
</template>

<script>
    import _ from 'lodash';
    import modelEdit from '../model-edit';
    import CompanyService from '@/services/company';
    import CompanyUserService from '@/services/company_user';
    import CompanyPlanService from '@/services/company_plan';
    export default {
        name: "edit",
        components: {
            'model-edit-page':modelEdit,
        },
        data: (vm) => {
            return {
                backLink: '/company',
                historyApiLink:'/histories/company',
                title: 'Новая компания',
                date_to: false,
                date_from: false,
                time_from: false,
                time_to:false,
                company: {
                    id: 0,
                    is_active:true,
                    name: '',
                    sort: null,
                    subdomain: '',
                    discount: null,
                    form_confirmed: false,
                    company_plan_id: null,
                    created:false,
                    updated:false,
                    expired_at: null,
                    expired_at_time: null,
                    active_at: null,
                    active_at_time: null,
                    contact_user_name: '',
                    phone: '',
                    email: '',
                    url: '',
                    requisites: '',
                    logo: [],
                    user_exists: false,
                    user: {
                        id: null,
                        email:'',
                    },
                },
                service: CompanyService,
                plans: [],
                historyHeaders: [
                    {text: "Дата", value: "created_at", fixed: true},
                    {text: "Кто изменил", value: "author", fixed: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Название", value: "name"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Поддомен", value: "subdomain"},
                    {text: "Скидка, %", value: "discount"},
                    {text: "Тариф", value: "plan_name"},
                    {text: "Период действия", value: "interval"},
                    {text: "Представитель", value: "boss"},
                    {text: "Логотип", value: "logo", href: true,},
                    {text: "Контактное лицо", value: "contact_user_name"},
                    {text: "Телефон", value: "phone"},
                    {text: "Email", value: "email"},
                    {text: "Адрес сайта", value: "url"},
                    {text: "Реквизиты", value: "requisites", hidden: true},
                ],
                rules: {
                    user: [
                        v => !v || vm.company.user_exists || 'Пользователь не существует'
                    ],
                },
                vm,
            };
        },
        created() {
            this.debouncedCheck = _.debounce(this.checkEmail, 500);
        },
        methods: {
            createUser() {
                let routeUrl = this.$router.resolve({
                    path: "/user/company/0",
                    query: {
                        mode: 'by_email',
                        email: this.company.user.email,
                        company_id: this.company.id
                    },
                });
                let wind =  window.open(routeUrl .href, "", "width=1024,height=400,left=200,top=200");
                window.onmessage = (e) => {
                    this.company.user.email = e.data;
                    wind.close();
                    this.debouncedCheck();
                };

            },
            checkEmail(){
                CompanyUserService.checkEmail(this.company.user).then((res) => {
                    if (res.data.data.email) {
                        this.company.user.id = res.data.data.id;
                        this.company.user_exists = true;
                    }
                }).catch((e)=> {
                    if(e.response.status === 404) {
                        this.company.user.id = -1;
                        this.company.user_exists = false;
                    }
                });

            },
            companyHandler(company)     {
                if (!(company.company_plan_id instanceof Object) && this.plans.length && company.active_plan) {
                    let plan = this.plans.find((v)=> {
                        return v.value === company.active_plan.company_plan_id
                    });
                    company.company_plan_id = plan;
                }
            },
            loadMeta() {
                let vm = this;
                if (vm.plans.length) return vm.plans;
                this.service.loadMeta().then(function() {
                    vm.plans = vm.service.getPlans();
                    vm.companyHandler(vm.company);
                });
            },
            hisToItem(item) {
                if (!item.user && item.user_id) item.boss = 'ID:' + item.user_id;
                else if (item.user) item.boss = item.user.email;

                if (!item.plan_name && item.company_plan_id) {
                    item.plan_name = 'ID:' + item.company_plan_id;
                }
                if(item.plan && !(item.plan instanceof Array)) {
                    item.interval = (item.plan.active_at ? item.plan.active_at : '...')
                        + ' - ' + (item.plan.expired_at ? item.plan.expired_at : '...');
                }
                item.hidden = true;
                if (item.is_active !== undefined) item.is_active = item.is_active == 1 ? 'Активный' : 'Не активный';
                return item;
            },
        },
        watch: {
            'company.user.email' : {
                handler() {
                    this.debouncedCheck();
                },
                deep:true,
            },
            'company.company_plan_id' : {
                handler(val) {
                    if (!val) {
                        this.company.expired_at = null;
                        this.company.expired_at_time = null;
                        this.company.active_at = null;
                        this.company.active_at_time = null;
                    }
                },
                deep:true,
            }
        }
    }
</script>
<style>
    .time-details .v-messages__wrapper{
        display: none;
    }
</style>