<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>Компании</v-toolbar-title>
            </v-card>

            <v-card  v-if="$store.state.auth.user.user_group >= 1024"
                    class="pa-2 no-shadow"
                    tile
            >
                <v-btn class="dark-btn" @click="editItem(0)">Добавить компанию</v-btn>
            </v-card>
        </v-card>
        <v-card class="filter">
            <v-card
                    class="d-flex justify-space-between mb-6 no-shadow" style="margin-bottom: 0 !important;"
                    flat
                    tile
            >
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Все статусы"
                            :items="statuses"
                            v-model="filter.is_active"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        tile
                        class="pa-2 flex-grow-0 flex-shrink-0 no-shadow"
                        style="max-width: 200px;"
                >
                    <v-combobox
                            clearable
                            hide-selected
                            outlined
                            label="Все тарифы"
                            :items="getMeta() || plans"
                            v-model="filter.company_plan_id"
                            hide-details
                            dense
                    >
                    </v-combobox>
                </v-card>
                <v-card
                        class="pa-2 flex-grow-1 flex-shrink-1 no-shadow"
                        tile
                >
                    <v-text-field
                            name="input-10-2"
                            placeholder="Название компании"
                            outlined
                            type="text"
                            v-model="filter.name"
                            hide-details
                            dense
                    ></v-text-field>

                </v-card>
                <v-card
                        class="pa-2 d-flex flex-grow-0 flex-shrink-0 no-shadow"
                        tile>

                    <v-btn
                            class="mr-4"
                            @click="clearFilter"
                            :disabled="!canClearFilter()"
                    >Сбросить
                    </v-btn>
                    <v-btn class="mr-4 dark-btn"
                            @click="filter.updates++"
                    >Поиск
                    </v-btn>
                </v-card>

            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="filter"
                            :toItem="toItem"
                            :editItem="editItem"
                            :emptyItemText="emptyItemText"
                            :service="crudService">
            </app-data-table>
        </v-card>
    </v-container>
</template>
<script>
    import ComService from '@/services/company';

    export default {
        data: function () {
            return {
                selected: [],
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Название компании", value: "name", link: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Поддомен", value: "subdomain"},
                    {text: "Скидка, %", value: "discount"},
                    {text: "Тариф", value: "plan", sortable:false},
                    {text: "Период действия", value: "interval", sortable:false},
                ],
                filter: {
                    name: '',
                    company_plan_id: null,
                    is_active: null,
                },
                statuses: [
                    {value:true, text: 'Активные'},
                    {value:false, text: 'Неактивные'},
                ],
                plans: [],
                crudService: ComService,
                emptyItemText: '-',
            }
        },
        methods: {
            canClearFilter() {
                return this.filter.is_active || this.filter.company_plan_id || this.filter.name;
            },
            clearFilter() {
                this.filter.is_active = null;
                this.filter.company_plan_id = null;
                this.filter.name = '';
                this.filter.updates++
            },
            editItem(id) {
                this.$router.push({name: "company-edit", params: {id: id}});
            },
            getMeta() {
                if (this.plans.length) return this.plans;
                let vm = this;
                this.crudService.loadMeta().then((response) => {
                    vm.plans = vm.crudService.getPlans();
                });
            },
            toItem(item) {
                item.is_active= !item.is_active ? 'Заблокированный' : 'Активный';
                item.sort = item.sort ? item.sort : 0;
                if (item.active_plan) {
                    item.plan = item.active_plan ? item.active_plan.company_plan.name : null;
                    item.interval = (item.active_plan.active_at ? item.active_plan.active_at : '...')
                        + ' - ' + (item.active_plan.expired_at ? item.active_plan.expired_at : '...');
                }
                return item;
            },
        }
    }
</script>