<template>
    <model-edit-page
        :backLink="backLink"
        :historyApiLink="historyApiLink"
        :model="plan"
        :title="title"
        :service="service"
        :modelHandler="planHandler"
        :historyHeaders="historyHeaders"
        :hisToItem="hisToItem"
    >

        <template v-slot:edit-form="props">
            <v-checkbox
                    v-model="props.editable.is_active"
                    label="Активность"
            ></v-checkbox>
            <v-divider></v-divider>
            <v-spacer></v-spacer>
            <v-card-title>Основная информация</v-card-title>
            <v-text-field
                    v-model="props.editable.name"
                    :error-messages="props.vm.errors.name"
                    label="Наименование*"
                    required
                    type="text"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.sort"
                    :error-messages="props.vm.errors.sort"
                    label="Сортировка*"
                    type="number"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.cost"
                    :error-messages="props.vm.errors.cost"
                    label="Стоимость, ₽*"
                    type="number"
            ></v-text-field>
            <v-row justify="space-between" class="d-flex align-center">
                <v-col cols="12" md="6">
                    <v-text-field
                            v-model="props.editable.interval"
                            :error-messages="props.vm.errors.interval"
                            label="Период"
                            required
                            type="number"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-combobox
                            hide-selected
                            outlined
                            :items="loadMeta() || periods"
                            v-model="props.editable.interval_type"
                            hide-details
                            dense
                    />
                </v-col>
            </v-row>
            <v-spacer></v-spacer>
            <v-card-title>Опции</v-card-title>

            <v-text-field
                    v-model="props.editable.cases"
                    :error-messages="props.vm.errors.cases"
                    label="Портфели"
                    type="number"
            ></v-text-field>
            <v-text-field
                    v-model="props.editable.records"
                    :error-messages="props.vm.errors.records"
                    label="Записи"
                    type="number"
            ></v-text-field>
            <v-radio-group
                    row
            >
                <template v-slot:label>
                    <div>Тип проверки:</div>
                </template>
                <v-checkbox
                        label="Полная"
                        v-model="props.editable.full_check"
                ></v-checkbox>
                <v-checkbox
                        label="Оценка"
                        v-model="props.editable.assessed_check"
                ></v-checkbox>
                <v-checkbox
                        label="Судебные дела"
                        v-model="props.editable.deal_check"
                ></v-checkbox>
                <v-checkbox
                        v-if="props.editable.deal_check"
                        label="Исполнительные производства"
                        v-model="props.editable.fssp_check"
                ></v-checkbox>
            </v-radio-group>
        </template>
    </model-edit-page>
</template>

<script>
    import modelEdit from '../model-edit';
    import PlanService from '@/services/company_plan';
    export default {
        name: "edit",
        components: {
            'model-edit-page':modelEdit,
        },
        data: (vm) => {
            return {
                backLink: '/plan',
                historyApiLink:'/histories/plan',
                title: 'Новый тариф',
                plan: {
                    id: 0,
                    is_active:true,
                    name: '',
                    sort: null,
                    cost: null,
                    cases:null,
                    records:null,
                    interval:null,
                    interval_type: null,
                    form_confirmed: false,
                    full_check: false,
                    deal_check: false,
                    fssp_check: false,
                    assessed_check: false,
                    created:false,
                    updated:false,
                },
                service: PlanService,
                periods: [],
                historyHeaders: [
                    {text: "Дата", value: "created_at", fixed: true},
                    {text: "Кто изменил", value: "author", fixed: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Название", value: "name"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Стоимость, ₽", value: "cost"},
                    {text: "Период", value: "interval_name"},
                    {text: "Портфели", value: "cases"},
                    {text: "Записи", value: "records"},
                    {text: "Тип проверки", value: "check_type"},
                ],
                vm,
            };
        },
        methods: {
            planHandler(plan) {
                if (!(plan.interval_type instanceof Object) && this.periods.length) {
                    plan.interval_type = this.periods[plan.interval_type];
                }
            },
            loadMeta() {
                let vm = this;
                if (vm.periods.length) return vm.periods;
                this.service.loadMeta().then(function() {
                    vm.periods = vm.service.getPeriods();
                    if (!vm.plan.interval_type && vm.periods) vm.plan.interval_type = vm.periods[0];
                });
            },
            hisToItem(item) {
                if (item.is_active !== undefined) item.is_active = item.is_active ? 'Активный' : 'Не активный';
                item.check_type = item.full_check ? 'Полная, ' : '';
                item.check_type += item.assessed_check ? 'Оценка, ' : '';
                item.check_type += item.deal_check ? 'Судебные дела' : '';
                return item;
            },
        }
    }
</script>