<template>
    <v-container>
        <v-card
                class="d-flex justify-space-between mb-6 "
                flat
                tile
        >
            <v-card
                    class="pa-2 router-view-title no-shadow"
                    tile
            >
                <v-toolbar-title>Тарифы</v-toolbar-title>
            </v-card>

            <v-card
                    class="pa-2 no-shadow"
                    tile
            >
                <v-btn class="dark-btn" @click="editItem(0)">Добавить тариф</v-btn>
            </v-card>
        </v-card>
        <v-card
                class="d-flex flex-column justify-space-between mb-6"
                flat
                tile
        >
            <app-data-table :headers="headers" :showSelect="false" :fixedCol="false"
                            :filter="filter"
                            :toItem="toItem"
                            :editItem="editItem"
                            :service="crudService">
            </app-data-table>
        </v-card>
    </v-container>
</template>
<script>
    import PlanService from '@/services/company_plan';

    export default {
        data: function () {
            return {
                selected: [],
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Сортировка", value: "sort"},
                    {text: "Наименование", value: "name", link: true},
                    {text: "Статус", value: "is_active"},
                    {text: "Количество портфелей", value: "cases"},
                    {text: "Количество записей", value: "records"},
                    {text: "Тип проверки", value: "check_type"},
                    {text: "Период действия", value: "interval_name", sortable: false},
                    {text: "Стоимость, ₽", value: "cost"},
                ],
                filter: {},
                periods: [],
                crudService: PlanService
            }
        },
        methods: {
            editItem(id) {
                this.$router.push({name: "company-plan-edit", params: {id: id}});
            },
            getMeta() {
                if (this.periods.length) return this.periods;
                let vm = this;
                this.crudService.loadMeta().then((response) => {
                    vm.periods = vm.crudService.getPeriods();
                });
            },
            toItem(item) {
                item.is_active= !item.is_active ? 'Заблокированный' : 'Активный';
                item.check_type= (item.deal_check ? 'Судебные дела, ' : '')+(item.full_check ? 'Полная, ' : '')+(item.assessed_check ? 'Оценка' : '');
                return item;
            },
        }
    }
</script>